﻿@model PagedList.IPagedList<Blog>

@{
    ViewBag.Title = "MyWebSite";
    List<int> features = ViewBag.featuredBlog as List<int>;
    bool first = true;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>MyWebSite.</h1>
                <h2>Welcome to my website</h2>
            </hgroup>
        </div>
    </section>
}
<div style="background-color:#F7F7DE;padding-left:10px;width:100%;">
    @foreach (Blog blog in Model)
    {
        bool isfeature = false;
        if (features != null && Model.PageNumber == 1)
        {
            if (features.Contains(blog.BlogID))
            {
                isfeature = true;
            }
        }
        var tags = BlogUtil.GetTagsInBlog(blog.BlogID);
        <div class="post @if(isfeature){<text>post-featured</text>}">
            @if (isfeature)
            {
                <h3><span class="label label-important">置顶</span>
                    @Html.ActionLink(blog.BlogTitle, "Details","Blog",new {id = blog.BlogID},null)</h3>
                <div class="post-header-line-1">
                    由<a href="@Url.Action("UserInfo","Home",new {name = blog.Author})"><i class="icon-user"></i>@blog.Author</a> 于 @blog.BlogDate 发布。
                </div>
            }
            else{
                <h3>@Html.ActionLink(blog.BlogTitle, "Details","Blog",new {id = blog.BlogID},null)</h3>
                <div class="post-header-line-1">
                    由<a href="@Url.Action("UserInfo","Home",new {name = blog.Author})"><i class="icon-user"></i>@blog.Author</a> 于 @blog.BlogDate 发布。&nbsp;&nbsp; <i class="icon-bookmark"></i>总得分：<a href="@Url.Action("Details","Blog",new {id = blog.BlogID})#rating">@BlogUtil.getRating(@blog.BlogID)</a>
                </div>
            }
            <div class="post-body">
                <div class="nohover"><a href="@Url.Action("Details","Blog",new {id = blog.BlogID})">
                    @{string imgpath = blog.isLocalImg ? Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(blog.ImagePath)}) : blog.ImagePath;}
                    @if(first){
                        <img src="@imgpath" alt="@blog.BlogTitle"
                        style="max-height:300px;max-width:400px;"/>
                        first = false;
                    }
                    else{
                        <img src="~/Images/loading.gif" data-src="@imgpath" alt="@blog.BlogTitle" style="max-height:300px;max-width:400px;"/>
                    }
                    </a> 
                    <a href="@Url.Action("Details","Blog",new {id = blog.BlogID})#replydiv" class="combubbles">
                        <span style="display: inline-block;padding-left: 10px; padding-top: 15px; color: #dedede;text-shadow: 2px 0px 2px #000">@blog.posts.Count 条评论</span>
                    </a>
                </div><br />
                <p> @Html.Raw(BlogUtil.getFirstLine(blog.Content, 100))</p><br /> 
                <a href="@Url.Action("Details", "Blog", new { id = blog.BlogID })" class="btn">继续阅读 &raquo;</a>

            </div>
            <div class="post-footer">
                <i class="icon-th-list"></i>
                分类：<a class="badge badge-info" href="@Url.Action("List", "Blog", new { id = blog.CategoryID })">@BlogUtil.categoryName(blog.CategoryID)</a>&nbsp;| 
                <i class="icon-tags"></i>
                标签：
                @foreach (var tag in tags)
                {
                    <a class="label label-info" href="@Url.Action("Tags","Search",new {id = tag.TagID})">@tag.TagName</a>
                }
            </div>
         </div>
    }
    @Html.Partial("_PagerPartial", Model)
</div>
@section end_scripts{
<script src="~/Scripts/jquery.unveil.min.js"></script>
    <script>
        $(function () {
            $('.post-body img').unveil(100);
        })
    </script>
}