﻿@model IEnumerable<Ranking>
<h3 style="padding-left: 50px"><a style="color:black" href="@Url.Action("List", "Blog", new { sort="Rate_desc" })">评分排行</a></h3>
<ol id="ratinglist" class="thumbnails">
    @foreach (var rank in Model)
    {
        <li  style="display: inline-block;margin-left:50px"><a target="_blank" href="@Url.Action("Details","Blog",new {id = rank.blogId})">
            <div class="thumbnail" style="display: table-cell; width: 100px; height: 100px;vertical-align:middle">
                @{string imgpath = rank.isLocalImg ? ("/Images/Thumbs/" + MyMVCWeb.Models.BlogUtil.firstImgPath(rank.blogThumb)) : rank.blogThumb;}
                <img src="@imgpath" style="max-height:100px;max-width:100px" />
            </div>
            <div class="caption">
                <p style="max-width: 100px;text-align: center;max-height:60px;overflow:hidden;">@rank.blogTitle</p>
                <a class="label label-info" target="_blank" href="@Url.Action("Details","Blog",new {id = rank.blogId})#rating" title="总分 @BlogUtil.getRating(rank.blogId)">评分：@rank.rating</a>
            </div>
            </a>
        </li>
    }
</ol>