﻿@{
    ViewBag.Title = "意见建议";
}
@if(!BlogUtil.checkAdmin()){
<h2>意见建议</h2>
<hr />
}
else{
<h2>问题反馈（管理员）</h2>
<hr />
}

@if (Request.IsAuthenticated)
{
    <script>
        function delreply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeletePost", "Reply")', { PostId: id }, partial(hidepost, id));
            }
        }
        function delPostReply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeleteReply", "Reply")', { ReplyId: id }, partial(hidereply, id));
            }
        }
    </script>
    <table border="1" style="width:100%; margin-left: .25em;">
                <colgroup>
                   <col span="1" style="width: 100px;"/>
                   <col span="1" />
                </colgroup>
                <tr>
                    <td rowspan="2" style="vertical-align:top;text-align:center;"><img src="@Url.Action("Show", "Avatar")" style="max-height:100px;max-width:100px;" /></td>
                    <td style="text-align:left">发表建议：</td>
                </tr>
                <tr>
                    <td id="addreply_container" >
                        @(Html.Partial("AddReply"))
                    </td>
                </tr>
            </table>
    <script>
        var replyeditor;
        function replaceeditor() {
            replyeditor = CKEDITOR.replace('addreplycontent', {
                toolbar: [
                                    ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink', ], ['Custom_Smiley', 'Image'],
                                    ['TextColor', 'BGColor', 'Styles']], uiColor: '#019ed5'
            });
        }
        $(function () {
            replaceeditor();
            $('#SubmitReply').button({ 'loading-text': "提交中" });
        });
        function redirectpost(result) {
            if (result.redirect) {
                window.location.href = '@Request.RawUrl' + result.redirect;
                window.location.reload();
            }
            else {
                $('#addreply_container').html(result);
            }
        }
        var btnclicked = false;
        function submitreply() {
            //document.getElementById('AddReplyForm').submit();
            var data = replyeditor.getData();
            var captcha = $('input[name="Captcha"]').val();
            var prefix = $('input[name="Prefix"]').val();
            if (btnclicked || data == '')
                return false;
            btnclicked = true;
            $('#SubmitReply').button("loading");
            $("#loading").show();
            $.post('@Url.Action("AddReply", "Reply")', { itemid: '0', addreplycontent: data, Captcha: captcha, Prefix: prefix },
                redirectpost).complete(oncomplete);
        }
        function oncomplete() {
            btnclicked = false;
            $('#SubmitReply').button("reset");
            $("#loading").hide();
            replaceeditor();
        }
        
    </script>

    if(BlogUtil.checkAdmin())
    {
        <ul class="nav nav-pills" id="msgmenu">
          <li class="active">
            <a href="#" onclick="selected(this, '@Url.Action("ShowReply", "Reply", new { itemid = 0, idtype="1" })');return false;">意见反馈</a>
          </li>
            <li>
            <a href="#" onclick="selected(this, '@Url.Action("ShowReply", "Reply", new { itemid = -1, idtype="1" })');return false;">问题举报</a>
          </li>
            @if(User.IsInRole("Administrator")){
          <li><a href="#" onclick="selected(this, '@Url.Action("ShowAdminInbox", "Message")');return false;">Admin信箱</a></li>
            }
        </ul>
        <script>
            function selected(obj, posturl) {
                if (obj.parentElement.className == "active")
                    return;
                //alert(obj);
                var ullist = document.getElementById('msgmenu');
                var lilist = ullist.getElementsByTagName('li');
                for (i = 0; i < lilist.length; i++) {
                    lilist[i].className = "";
                }
                obj.parentElement.className = "active";

                $.get(posturl, null, displayview);
                $("#replydiv").hide();
                $("#loading2").css('display', 'block');
            }
            function displayview(response) {
                //alert(response);
                data = response;
                $("#replydiv").html(response);
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                if ($.validator) {
                    $.validator.unobtrusive.parse('form');
                }
                $("#replydiv").show();
                $("#loading2").hide();
            }
        </script>
    }
}
else
{
      <h3>请登录后发表建议</h3>
    @Html.ActionLink("注册", "Register", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
    @Html.ActionLink("登录", "Login", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
}
<div id="replydiv">
    @if (BlogUtil.checkAdmin())
    {
        @Html.Action("ShowReply", "Reply", new { itemid = 0, idtype="1" })
    }
    else if (User.Identity.IsAuthenticated)
    {
        <h3>这里显示你的所有留言</h3>   
        @Html.Action("ShowUserReply", "Reply", new { itemid = 0, name = User.Identity.Name })
    }
</div>
<img id="loading2" src="~/Images/loading.gif" style="display:none;margin:0 auto 100px auto;" />

<h2 id="versions">版本更新历史</h2>
<hr />
当前版本：
@if (User.IsInRole("Administrator"))
{
    <input type="text" id="versiontitle" value="@ViewBag.versiontitle"/>
}
else
{
    <span class="badge">@ViewBag.versiontitle</span>   
}
<div id="versiondiv">
    
    @Html.Raw(ViewBag.versiondata)
</div>

@if (User.IsInRole("Administrator"))
{
    <button class="btn" onclick="editversion(true);" id="editversion">编辑</button>
    <button class="btn" onclick="editversion(false);" id="cancelversion" style="display:none;">取消</button>
    <script>
        var versioneditor;
        function editversion(isedit) {
            if (!isedit && versioneditor) {
                versioneditor.destroy();
		versioneditor = null;
                $('#cancelversion').hide();
            }
            else if(isedit && !versioneditor) {
                versioneditor = CKEDITOR.replace("versiondiv");
                $('#cancelversion').show();
            }
            else if (isedit && versioneditor) {
                $.post('@Url.Action("EditVersion", "Admin")', { data: versioneditor.getData(), version: $("#versiontitle").val() }, function () {
                    versioneditor.destroy();
		    versioneditor = null;
                    $('#cancelversion').hide();
                });
            }
        }
    </script>
}

@section end_scripts{
    <script src="~/ckeditor/ckeditor.js" charset="gb2312"></script>
    <script src="/Scripts/detailScripts.js"></script>
    <script src="/Scripts/Expansion.js"></script>
}