﻿@model PagedList.IPagedList<Blog>
@{
    ViewBag.Title = "未通过审核投稿";
}

<a class="btn" style="float:right;" href="@Url.Action("UserInfo","Home")/#myposts">已通过审核的投稿</a>
<h2>尚未通过审核的投稿</h2>

<hr />
<ul  class="listview image info fluid">
    @if (Model == null || Model.Count == 0)
    {
        <li>没有投稿</li>
    }
    else{
            foreach (Blog b in Model)
            {
                <li id="@b.BlogID" @if(b.isApproved==false){<text>class="selected"</text>}>
                    <div class="badge">
                        @BlogUtil.categoryName(b.CategoryID)
                    </div>

                    <div class="icon">
                        <div class="imgcenter">
                            <a href='@Url.Action("Details","Blog",new {id = b.BlogID})' >
                                <img src='@(b.isLocalImg ? ("/Images/thumbs/" + BlogUtil.firstImgPath( b.ImagePath)) : b.ImagePath)' />
                            </a>
                        </div>
                    </div>

                    <div class="data">
                        <h4>@b.BlogTitle </h4>

                        <div class="posttime">
                            投稿日期： @b.BlogDate &nbsp;&nbsp;
                        </div>

                        <p style="word-break:keep-all">  @BlogUtil.getFirstLine(b.Content, 100, true)</p>
                        <br />
                        <span class="lfoot">浏览：@b.BlogVisit 次 评论：@b.posts.Count 条</span>
                    </div>

                    <br />

                </li>
            }
    }
    </ul>
@if(Model != null){
    if(Model.HasNextPage || Model.HasPreviousPage){
        ViewBag.PostUrl = Url.Action("未通过");
        @Html.Partial("_AjaxPager", Model)
    }
}

    <script>
        $(function () {
            $('.listview li').click(function () {
                window.open('@Url.Action("Details","blog")' + this.id);
            });
        })
    </script>