﻿@model MyMVCWeb.Models.UserProfile

@{
    ViewBag.Title = Model.UserName;
    string name = Model.UserName;
    string leveltitle = ExpUtil.getLevelTitle(Model.Level);
}


@section featured{
    <div style="display: inline-block;float:right;width: 150px; padding:2px;margin-top:18px;border:0px solid">
        <div style="display: table-cell;width: 150px;text-align: center">
            <img style="max-height:150px;max-width:150px;" id="AvatarPic" runat="server" src="@Url.Action("Show","Avatar",new {name = name})"/>
        </div>
    </div>
    <div style="display: inline-block; float:right;width: 150px;clear: both">
        @if(Request.IsAuthenticated && User.Identity.Name!=name ){
        <a title="给他发消息" href="@Url.Action("Msg",new{ name = name})" class="btn btn-primary" style="margin-left: 12px;margin-top: 5px"><i class="icon-envelope icon-white"></i><b>  给他发消息</b></a>
        }
    </div>
        <h2>@name</h2>
        <ul>
            <li>UID: <span class="badge badge-inverse">@Model.UserId</span></li>
            <li>注册于：<span>@WebSecurity.GetCreateDate(name)</span></li>
            <li>上次登录时间：<span>@Model.LastLoginDate</span></li>
            <li>上次登录地址：<span>@Model.LastLoginIP</span></li>
            <li>投稿：<span class="label label-info">@(ViewBag.UserBlogs)件</span></li>
            <li>评论：<span class="label label-info">@(ViewBag.UserPosts)条</span></li>
            <li>
            等级：@if(Roles.IsUserInRole(Model.UserName,"Administrator")){<span class="label label-important">LV ?? 绅士管理员</span>}
                  else{<span class="label label-warning">LV @Model.Level @leveltitle</span>}
                <a target="_blank" title="关于等级" href="@Url.Action("About","Home")#aboutlevel" class="icon-question-sign"></a>
            </li>

        </ul>
    @if(Model.UserComment !=null){
        <div id="CommentDiv" style="display:inline-block;margin-left:20px;margin-right:20px; border: #037dd5 outset 3px;border-radius:5px;padding: 5px;background: #FFFFFF;">
            <p style="margin:1em;" ID="CommentLabel">@Html.Raw(Model.UserComment)</p>
        </div>
    }
    <div class="clear-fix"></div>
}
<hr />
@if (ViewBag.UserBlogs > 0)
{
    PagedList.IPagedList<Blog> items = ViewBag.UserBlogItems;
    <div id="myposts">
        @if(User.Identity.IsAuthenticated && !BlogUtil.checkAdmin()){
            <a class="btn" style="float:right" href="@Url.Action("UnApprove","Home")">查看未通过审核的投稿</a>
        }
        <h2>@(Model.UserName)的投稿</h2>

        <ul  class="listview image info fluid">
            @if (items == null)
            {
                <li>没有投稿</li>
            }
            else{
            foreach (Blog b in items)
            {
                <li id="@b.BlogID">
                    <div class="badge">
                        @BlogUtil.categoryName(b.CategoryID)
                    </div>

                    <div class="icon">
                        <div class="imgcenter">
                            <a href='@Url.Action("Details","Blog",new {id = b.BlogID})' >
                                <img src='@(b.isLocalImg ? ("/Images/thumbs/" + BlogUtil.firstImgPath( b.ImagePath)) : b.ImagePath)' />
                            </a>
                        </div>
                    </div>


                    <div class="data">
                        <h4>@b.BlogTitle </h4>

                        <div class="posttime">
                            投稿日期： @b.BlogDate &nbsp;&nbsp;
                        </div>

                        <p style="word-break:keep-all">  @BlogUtil.getFirstLine(b.Content, 100, true)</p>
                        <br />
                        <span class="lfoot">浏览：@b.BlogVisit 次 评论：@b.posts.Count 条</span>
                    </div>

                    <br />

                </li>
            }
            }
        </ul>
        @if(items.HasNextPage || items.HasPreviousPage){
            @Html.Partial("_PagerPartial", items)
        }
    </div>
}
else
{
    <h4>此人木有投稿。</h4>
}

@section scripts{
    <script>
        $(function () {
            $('.listview li').click(function () {
                window.open('@Url.Action("Details","Blog")' + this.id);
            });
        })
    </script>
}