﻿@model PagedList.IPagedList

@{string displayid = "replydiv";
  string itemid = ViewData["itemid"] as string;
  string idtype = ViewData["idtype"] as string;
  string name = ViewBag.relplyusername as string;
  }

<div class="pager">
    @if (Model.HasPreviousPage)
    {
        <a class="btn btn-mini" onclick="postgotopage(1);">第1页</a>
        @Html.Raw(" ")
        <a class="btn btn-mini" onclick="postgotopage(@Model.PageNumber-1);">上一页</a>
    }
    else{
        <a class="btn btn-mini disabled">第1页</a>@Html.Raw(" ")<a class="btn btn-mini disabled">上一页</a>
    }
    @{string lastpage = "第"+Model.PageCount+"页";}
    @if (Model.HasNextPage)
    {
        <a class="btn btn-mini" onclick="postgotopage(@Model.PageNumber+1);">下一页</a>
        @Html.Raw(" ")
        <a class="btn btn-mini" onclick="postgotopage(@Model.PageCount);">@lastpage</a>
    }
    else{
        @:<a class="btn btn-mini disabled">下一页</a> <a class="btn btn-mini disabled">@lastpage</a>
    }
    &nbsp;
    <span>第
        @Html.TextBox("postjumppage", Model.PageNumber, new {style="width: 2em;height: 1em;padding: 3px;margin: 0px;" })
       页</span> 
    <script>
        $(function(){
            $('#postjumppage').change(function () {
                var pagenum = parseInt(this.value);
                var pagecount = '@Model.PageCount';
                if (pagenum > 0 && pagenum <= pagecount) {
                    gotopage(pagenum);
                }
            });
        });
        function postgotopage(pagenum) {
            var pagecount = '@Model.PageCount';
            if (pagenum > 0 && pagenum <= pagecount) {
                @if(name == null){
                <text>$.post('@Url.Action("ShowReply")', { itemid: '@blogid', pagenum: pagenum, idtype: '@idtype' }, postreplace);</text>
                }
                else{
                 <text>$.post('@Url.Action("ShowUserReply")', { itemid: '@blogid', name: '@name', pagenum: pagenum, idtype: '@idtype' }, postreplace); </text>   
                }
            }
        }
        function postreplace(result) {
            $('#@displayid').html(result);
        }
    </script>
</div>

