﻿@model PagedList.IPagedList<MyMVCWeb.Models.Post>
<input type="hidden" id="curpagenum" value="@Model.PageNumber"/>
@foreach(Post post in Model)
{
    int index = 0;
    <table style="width:100%" id ="@("listpost"+post.PostId)" class="replytable">
                <colgroup>
                   <col span="1" style="width: 100px;"/>
                   <col span="1" />
                </colgroup>
                <tr>
                    <td rowspan="3" class="replyavatar"><a href="@Url.Action("UserInfo","Home",new {name = post.Author})"><img src="@Url.Action("Show","Avatar",new {name = post.Author})" style="max-height:100px;max-width:100px;" /></a></td>
                    <td style="text-align:left; padding-left:2em;">@Html.ActionLink(post.Author, "UserInfo","Home",new {name = post.Author},null) 发表于 @post.PostDate
                        &nbsp;
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a onclick="reply(@post.PostId);">回复</a>
                            int itemid = 0;
                            if (post.BlogId.HasValue)
                            {
                                itemid = post.BlogId.Value;
                            }
                            else if (post.TopicId.HasValue)
                            {
                                itemid = post.TopicId.Value;
                            }
                            if(itemid>0){
                            <a onclick="rptReply(@post.PostId);" data-toggle="modal" role="button" href="#rptModal" class="hovershow">举报</a>@Html.Raw("  ")
                            }
                            
                        }
                        &nbsp;
                        @if(User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.Identity.Name == post.Author)
                        {
                            <a onclick="editreply(@post.PostId);" class="hovershow">编辑</a>@Html.Raw("  ")
                            <a onclick="delreply(@post.PostId);" class="hovershow">删除</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:2em;"><div id='postcontent@(post.PostId)' class="bubble">
                        <div class="reply">
                            @Html.Raw(post.Content)
                        </div>
                        <div style="display:none;" id="btnarea_@post.PostId">
                        @if(User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.Identity.Name == post.Author)
                        {
                            <input type="button" id="editreplybtn_@post.PostId" value ="提交" class="btn btn-small" onclick="@string.Format("editclick({0},'{1}');", post.PostId, Url.Action("EditReply")) " >
                            @Html.Raw(" ")
                            <input type="button" id="canceleditbtn_@post.PostId" value ="取消" class="btn btn-small" onclick="cancelclick();">
                            <span class = "field-validation-error" id ="editerror_@post.PostId"></span>
                        }
                        </div>
                        @if(post.repies.Count > 0){
                        <div class="postreply">
                            <ul data-postid="@post.PostId">
                            @foreach (var reply in post.repies)
	                        {
                                <li id="reply@(reply.ReplyId)">
                                    <a class="avatar" href="@Url.Action("UserInfo","Home",new {name = reply.Author})"><img src="@Url.Action("Show","Avatar",new {name = reply.Author})" /></a>
                                    <div class="reply">
                                        <span class="replyact">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.Identity.Name == reply.Author)
                                        {
                                            <span class="del">
                                                <a onclick="delPostReply(@reply.ReplyId)">删除</a>@Html.Raw(" | ")
                                            </span>
                                        }
                                        @reply.ReplyDate 
					@if (User.Identity.IsAuthenticated){
						<a onclick="replyreply(@reply.ReplyId,'@reply.Author')" >回复</a>
					}</span>
                                        <a href="@Url.Action("UserInfo","Home",new {name = reply.Author})">@reply.Author</a><br />
                                        @Html.Raw(reply.Content)
                                    </div>
                                </li>
	                        }
                            </ul>
                        </div>
                        }
                        <div class="addReply hide">
                            <textarea style="visibility:hidden"></textarea>
                            <button onclick="replyPost(@post.PostId)" style="margin-top: 2px" class="btn btn-small btn-primary">发表</button>
                            <button style="margin-top: 2px" class="btn btn-small" onclick="cancelclick();">取消</button>
                        </div>
                    </div>
                    </td>
                </tr>
            </table>
    index++;
}
@if (!Model.IsFirstPage || !Model.IsLastPage)
{
    Html.RenderPartial("_AjaxPager", Model);
}
<style>
    .trans {
        -moz-transition: background-color linear 2s;
        -o-transition: background-color linear 2s;
        -webkit-transition: background-color linear 2s;
        transition: background-color linear 2s;
    }
</style>
<script>
    $(function () {
        if (location.hash && (location.hash.indexOf("listpost") != -1 || location.hash.indexOf("reply") != -1)) {
            $(location.hash).css("background-color", "lightGrey").delay(3000).queue(function () {
                $(this).addClass('trans').css("background-color", "inherit");
            });
        }
    });
    var replyposturl = "@Url.Action("AddPostReply","Reply")";
</script>