﻿@model MyMVCWeb.Models.TopicEdit

@{
    ViewBag.Title = "创建专题";
    int counter = 0;
}

<h2>创建专题</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id="createform", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table style="width:100%">
    <colgroup>
        <col style="width:40px;"/>
        <col style="width:91%" />
    </colgroup>
    <tbody>
        <tr>
            <td><label for="CategoryID">分类</label></td>
            <td>
            @Html.DropDownListFor(m => m.CategoryID, ViewBag.CategoryList as SelectList)
            </td>
        </tr>
        <tr>
            <td>
            @Html.LabelFor(model => model.TopicTitle)
            </td>
            <td>
            @Html.TextBoxFor(model => model.TopicTitle, new { maxlength=80, @class="input-block-level"})
            @Html.ValidationMessageFor(model => model.TopicTitle)
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding-top: 1em;">
                <label for="Blogid">内容<span id="bloghelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                <div class="input-prepend" style="margin-bottom:4px">
                  <span class="add-on" style="margin: 5px -1px 6px 0;">gm</span>
                  <input type="text"id="Blogid" placeholder="输入资源gm号" />
                </div>
                &nbsp;<input class="btn butnfix"  id="addblog" type="button" value="添加" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="well" >
                    <p class="text-important">请添加资源</p>
                    <img src="~/Images/Loading2.gif" id="loadinggif" style="display:none;"/>
                    <ul id="idlist">
                        @if (Model != null && Model.blogIDs != null && Model.blogIDs.Count > 0)
                        {
                            foreach (var id in Model.blogIDs)
                            {
                             <li id="BlogRow@(counter)" title="@id">
                                <input type="hidden" name="blogIDs" value="@id" ><span>@TopicUtil.getBlogTitle(id)</span>
                                &nbsp;<input class="btn butnfix"  type="button" onclick="rmRow( @(counter++) )" value="删除">
                             </li>
                            }
                        }
                    </ul>
                    
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">        
                <label>上传封面（最大4MB，或在文中外链):</label>
                <input type="file" ID="TopicImage" name="TopicImage"/>
            </td>
        </tr>
        <tr>
        <td colspan="2">
            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
        </td>
        </tr>
        <tr>
            <td>
                <label for="BlogTags">标签<span id="taghelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                @Html.EditorFor(m => m.TagName)
                @Html.ValidationMessageFor(model => model.TagName)
            </td>
        </tr>
                
    </tbody>
</table>
    <p>
        <input type="submit" autocomplete="off" class="btn btn-primary" data-loading-text="提交中" id="submitbtn" value="提交" />
        @Html.ActionLink("取消", "List", null, new { @class = "btn", style = "margin-top: 5px;" })
        <strong id="filemsg" class="text-error hide">上传文件不得超过4MB</strong>
    </p>
}


@section end_scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/cookie.js"></script>
    <script src="~/Scripts/Expansion.js"></script>
    <script>
        var counter = @counter;
        var map = {};
        var isvalid = true;
        $(function () {
            if(counter > 0)
                $(".well .text-important").hide();
            @if(counter > 0){
                foreach (var id in Model.blogIDs)
                {
                    <text>map[@(id)] = true;</text>
                }   
            }
            $('input[name="files"]').change(function (event){
                if(event.target.files && event.target.files[0].size >= 4096 * 1024){ // 4MB
                    $('#filemsg').show();
                    isvalid = false;
                }
                else{
                    $('#filemsg').hide();
                    isvalid = true;
                }
            });
            $('#bloghelp').tooltip({title:"输入资源的gm号后点击添加或按回车即可将该资源添加到本专题。"});
            $('#taghelp').tooltip({title:"专题只能有一个标签，最长20字符"});
            $('#createform').submit(function(event){
                if ($(this).valid() && isvalid) {
                    $('#submitbtn').button('loading');
                }
                else{
                    event.preventDefault();
                }
                setCookie("c", $('#CategoryID').val());
                CKEDITOR.instances.Content.setMode('wysiwyg');
            });
            $('#CategoryID').val(getCookie("c"));
        });
        $('#addblog').click(addRowClick);
        $('#Blogid').keypress(function (event) {
            if(event.which == 13){
                addRowClick();
                return false;
            }
        });
        function addRowClick(){
            if(!$('#Blogid').val())
                return;
            var id = parseInt($('#Blogid').val());
            if (!isNaN(id) && isFinite(id) && id > 0) {
                if (map[id])
                    return;
                map[id] = true;
                $.post('@Url.Action("GetTitle")', { id: id }, partial(addRow, id));
                $('#loadinggif').show();
            }
            else{
                alert("无效的输入，请输入大于0的数字");
            }
        }
        function addRow(id, rowtitle) {
            if (rowtitle) {
                var newTextBoxRow = $(document.createElement('li'))
                     .attr("id", 'BlogRow' + counter).attr("title", id.toString());
                newTextBoxRow.append(
                      '<input type="hidden" name="blogIDs" value="' + id + '" ><span>' + rowtitle + '</span>' +
                      '&nbsp;<input type="button" class="btn butnfix" onclick="rmRow(' + counter + ')" value="删除">'

                      );
                newTextBoxRow.prependTo("#idlist");
                if (counter == 0)
                    $(".well .text-important").hide();
                counter++;
            }
            else {
                alert('未找到编号为'+id+'的条目');
            }
            $('#loadinggif').hide();
            $('#Blogid').val('');
        }
        function rmRow(row) {
            var brow = $('#BlogRow' + row);
            delete map[brow.attr('title')];
            brow.remove();
            counter--;

            if(counter == 0)
                $(".well .text-important").show();
        }
    </script>
}
