﻿@model MyMVCWeb.Models.TopicDisplay

@{
    Topic topic = Model.topic;
    ViewBag.Title = topic.TopicTitle;
    ViewBag.Description = BlogUtil.getFirstLine(Model.topic.Content, 100, true);
    string picurl;
    if (topic.isLocalImg)
    {
        picurl = "http://" + HttpContext.Current.Request.Url.Host + "/Images/thumbs/" + topic.ImagePath;
    }
    else
    {
        picurl = BlogUtil.firstImgPath(topic.ImagePath);
    }
}

@section featured
{
@*
    <style>
        .post img
        {
            -moz-transition: width .5s,height .5s;
            -o-transition: width .5s,height .5s;
            -webkit-transition: width .5s,height .5s;
            transition: width .5s,height .5s;
        }
    </style>*@
<div id="blog" class="detaillayout">
            <h2>@topic.TopicTitle</h2>
            <br />
                <i class="icon-list"></i> 分类：<a class="badge badge-info" href="@Url.Action("List", "Topic", new { id = topic.CategoryID })">@BlogUtil.categoryName(topic.CategoryID)</a>
            <hr />
            <span style="font-size:small"><a href="@Url.Action("UserInfo", "Home", new { name = topic.Author })"><i class="icon-user"></i>@topic.Author</a> 于 @topic.CreateDate 发布，最后更新于 @topic.UpdateDate
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-eye-open"></i> <span style="color: #808080">@(topic.TopicVisit)</span> 次浏览&nbsp;&nbsp;&nbsp;&nbsp;
                @if (User.Identity.IsAuthenticated)
                {<a href="#rptModal" class="btn btn-small" style="margin-bottom: 5px" onclick="rptTopic()" data-toggle="modal">汇报问题</a> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>}
                @if (User.Identity.IsAuthenticated && (User.Identity.Name == topic.Author || Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("Moderator")))
                {
                    @Html.ActionLink("编辑", "Edit", new { id = topic.TopicID });
                    <a id="dellink" onclick="delclick('@topic.TopicID');">删除</a>
                }
                
            </span><hr />
            @if (topic.isLocalImg)
            {
                <div id="imgdiv0">
            <a style="text-decoration:none;" href="@Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(topic.ImagePath)})" rel="lightbox[g]">
                <img class="uimg" src="@Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(topic.ImagePath)}) " alt="@topic.TopicTitle" />
            </a>
            <br /><br /></div>
            }
            <div id="blogcontent" style="width:100%;overflow:hidden;">
                    @Html.Raw(topic.Content)
            </div>
            <br />
            <div class="accordion" id="accordion2">
            @foreach (var blog in Model.blogs)
            {
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@(blog.BlogID)">
                        @blog.BlogTitle @*<span class="btn btn-right" style="float:right">展开/折叠</span>*@
                        </a>
                    </div>
                    <div id="collapse@(blog.BlogID)" class="accordion-body collapse">
                        <div class="accordion-inner" style="border: 1px solid #ccc;border-radius: 1em">
                            <div class="post">
                                @{string imgpath = blog.isLocalImg ? Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(blog.ImagePath)}) : blog.ImagePath;}
                                <a href="@imgpath" style="text-decoration:none;" rel="lightbox[g]">
                                <img src="/images/loading.gif" data-src="@imgpath" alt="@blog.BlogTitle" style="max-height:300px;max-width:400px;"/></a> 
                            </div>
                        <br />
                        <p> @Html.Raw(BlogUtil.getFirstLine(blog.Content, 100))</p><br /> 
                        <a target="_blank" href="@Url.Action("Details", "Blog", new { id=blog.BlogID })" class="btn btn-primary">详细</a>
                        </div>
                    </div>
                </div>
            }
            </div>
    <div>
        <i class="icon-tags"></i><span> 专题标签：</span>
            <a class="label label-info" href="@Url.Action("Tags", "Search", new { id = topic.tag.TagID })">@(topic.tag.TagName)</a>
    </div>
        <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style" style="margin-top:1em;">
	    <span class="jiathis_txt">分享到：</span>
	    <a class="jiathis_button_tools_1"></a>
	    <a class="jiathis_button_tools_2"></a>
	    <a class="jiathis_button_tools_3"></a>
	    <a class="jiathis_button_tools_4"></a>
	    <a rel="nofollow" href="http://www.jiathis.com/share?uid=1826445" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	    <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
        var jiathis_config = { data_track_clickback: 'true', pic: '@picurl' };
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1347077965629870" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    <script type="text/javascript" id="wumiiRelatedItems"></script>
</div>
}
<hr />

@Html.Action("Index","Advertisment")

<div id="replydiv">
@if (topic.Posts.Count > 0)
{
        @Html.Action("ShowReply","Reply", new { itemid = topic.TopicID, idtype = "2" })  
}
else
{
    <h3>暂无评论。</h3>
}
</div>
<div style="border-style: groove; border-color:chocolate; border-width: medium; border-radius:5px; width:100%; padding:5px; margin-top:1.2em;">
@if (Request.IsAuthenticated)
{
    <table border="1" style="width:100%; margin-left: .25em;">
        <colgroup>
            <col span="1" style="width: 100px;"/>
            <col span="1" />
        </colgroup>
        <tr>
            <td rowspan="2" style="vertical-align:top;text-align:center;"><img src="@Url.Action("Show", "Avatar")" style="max-height:100px;max-width:100px;" /></td>
            <td style="text-align:left">添加回复：</td>
        </tr>
        <tr>
            <td id="addreply_container" >
                @(Html.Partial("AddReply"))
            </td>
        </tr>
    </table>
    <div id="rptModal" class="modal hide fade" tabindex="-1" role="dialog" style="background-color:white;">
    @using (Html.BeginForm("Report", "Topic", FormMethod.Post, new { style = "margin:0;" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>汇报问题</h3>
        </div>
        <div class="modal-body">
            <h3>原因：</h3>
        <textarea name="MsgContent" id="MsgContent" style="width:95%;height:160px;resize:none;"></textarea>
        </div><div class="modal-footer">
        <button class="btn" data-dismiss="modal">关闭</button>
        <input type="submit" value="汇报" class="btn btn-inverse" style="margin:0;"/>
        <input type="hidden" name="topicid" id="rpttopicid" value="@Model.topic.TopicID"/>
        <input type="hidden" name="postid" id="rptpostid"/>
            <input type="hidden" name="pagenum" id="pagenum" value="" />
        </div>
    }
    </div>
}
else
{
    <b>请登录后发表评论</b>
    @Html.ActionLink("注册", "Register", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
    @Html.ActionLink("登录", "Login", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
    
}
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
}
@section end_scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/detailScripts.js"></script>
    <script src="~/Scripts/lightbox-2.6.min.js"></script>
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <script src="~/Scripts/Expansion.js"></script>
    <script src="~/Scripts/jquery.unveil.min.js"></script>
    <script>
        var map = {};
        var last;
        function delclick(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("Delete")', { id: id }, redir);
            }
        }
        function redir() {
            window.location = "@Url.Action("List", "Topic", new { id = "" })";
        }
        $(function () {
            $('#lightbox').draggable();
            $('#blogcontent .label').hover(function () {
                selectText(this);
            });
            $('.post img').unveil();
            @*$('.accordion-toggle').click(function (event) {
                //event.preventDefault();
                var href = $(this).attr('href');
                var div = $(href);
                var ele = div.find('a[rel="lightbox[g]"]');
                ele.children('img').attr('src', ele.attr('href')).load(function () {
                    var img = new Image();
                    img.src = this.src;
                    if (img.height > 300) {
                        img.width = 300 / img.height * img.width;
                        img.height = 300;
                    }
                    if (img.width > 400) {
                        img.height = 400 / img.width * img.height;
                        img.width = 400;
                    }
                        $(this).css('width', img.width);
                        $(this).css('height', img.height);
                    }).error(function () {
                        //div.collapse('show');
                    });
                //if (last)
                //    last.collapse('hide');
                //last = div;
                //if (map[href]) {
                //    div.collapse('toggle');
                //}
                //else {
                //    var ele = div.find('a[rel="lightbox[g]"]');
                //    ele.children('img').attr('src', ele.attr('href')).load(function () {
                //        div.collapse('show');
                //    }).error(function () {
                //        div.collapse('show');
                //    });
                //    map[href] = true;
                //}
            });*@
        });
    </script>
    @if (User.Identity.IsAuthenticated)
    {
    <script>
        var replyeditor;
        function replaceeditor() {
            replyeditor = CKEDITOR.replace('addreplycontent', {
                toolbar: [
                                    ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink', ], ['Custom_Smiley', 'Image'],
                                    ['TextColor', 'BGColor', 'Styles']], uiColor: '#019ed5'
            });
        }
        $(function () {
            replaceeditor();
        });
        $('#SubmitReply').button({ 'loading-text': "提交中" });
        
        function delreply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeletePost", "Reply")', { PostId: id }, partial(hidepost, id));
            }
        }
	function delPostReply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeleteReply", "Reply")', { ReplyId: id }, partial(hidereply, id));
            }
        }
        function redirectpost(result) {
            if (result.redirect) {
                window.location.href = '@Request.RawUrl' + result.redirect;
                window.location.reload();
            }
            else {
                $('#addreply_container').html(result);
            }
        }
        var btnclicked = false;
        function submitreply() {
            var data = replyeditor.getData();
            var captcha = $('input[name="Captcha"]').val();
            var prefix = $('input[name="Prefix"]').val();
            if (btnclicked || data == '')
                return false;
            btnclicked = true;
            $('#SubmitReply').button("loading");
            $("#loading").show();
            $.post('@Url.Action("AddReply", "Reply")', { itemid: '@topic.TopicID', addreplycontent: data, Captcha: captcha, Prefix: prefix, idtype:2 },
                redirectpost).complete(oncomplete);
        }
        function oncomplete() {
            btnclicked = false;
            $('#SubmitReply').button("reset");
            $("#loading").hide();
            replaceeditor();
        }

        function rptReply(id) {
            $("#rptpostid").val(id);
            $("#pagenum").val($("#curpagenum").val());
        }
        function rptTopic() {
            $("#rptpostid").val(null);
        }

        function replyPost(postid) {

        }
    </script>
   
    }

    <script type="text/javascript">
        var wumiiPermaLink = "@Request.Url.GetLeftPart(UriPartial.Path)"; 
        var wumiiTitle = "@topic.TopicTitle"; 
        var wumiiTags = "@topic.tag.TagName"; 
        var wumiiCategories = ["@BlogUtil.categoryName(topic.CategoryID)"]; 
        var wumiiSitePrefix = "http://gmgard.us/";
        var wumiiParams = "&num=5&mode=2&pf=JAVASCRIPT";
    </script>
    <script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
    <a rel="nofollow" href="http://www.wumii.com/widget/relatedItems" style="border:0;">
        <img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
    </a>
}
