﻿@model MyMVCWeb.Models.TopicEdit

@{
    ViewBag.Title = "编辑专题";
    int counter = 0;
}

<h2>编辑专题</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id="editform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width:100%">
    <colgroup>
        <col style="width:40px;"/>
        <col style="width:91%" />
    </colgroup>
    <tbody>
        <tr>
            <td><label for="CategoryID">分类</label></td>
            <td>
            @Html.DropDownListFor(m => m.CategoryID, ViewBag.CategoryList as SelectList)
            </td>
        </tr>
        <tr>
            <td>
            @Html.LabelFor(model => model.TopicTitle)
            </td>
            <td>
            @Html.TextBoxFor(model => model.TopicTitle, new { maxlength = 80, @class = "input-block-level" })
            @Html.ValidationMessageFor(model => model.TopicTitle)
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding-top: 1em;">
                <label for="Blogid">内容<span id="bloghelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                <input type="text" id="Blogid" placeholder="输入资源ID" /><input id="addblog" type="button" class="btn butnfix" value="添加" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="well" >
                    <p class="text-important">请添加资源</p>
                    <img src="~/Images/Loading2.gif" id="loadinggif" style="display:none;"/>
                    <ul id="idlist">
                        @if (Model != null && Model.blogIDs != null && Model.blogIDs.Count > 0)
                        {
                            foreach (var id in Model.blogIDs)
                            {
                             <li id="BlogRow@(counter)" title="@id">
                                <input type="hidden" name="blogIDs" value="@id" ><span>@TopicUtil.getBlogTitle(id)</span>
                                &nbsp;<input type="button" onclick="rmRow( @(counter++) )" class="btn butnfix" value="删除">
                             </li>
                            }
                        }
                    </ul>
                    
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (Model.isLocalImg)
                {
                <div>
                    <img id="heroimg" src="@Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(Model.ImagePath)})" alt="@Model.TopicTitle " style="max-height:300px;max-width:400px;" />
                </div><br />
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">        
                <label>更改封面（最大4MB，或在文中外链):</label>
                <input type="file" ID="TopicImage" name="TopicImage"/>
            </td>
        </tr>
        <tr>
        <td colspan="2">
            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
        </td>
        </tr>
        <tr>
            <td>
                <label for="BlogTags">标签<span id="taghelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                @Html.EditorFor(m => m.TagName)
                @Html.ValidationMessageFor(model => model.TagName)
            </td>
        </tr>
                
    </tbody>
</table>
    <p>
        <input type="submit" autocomplete="off" class="btn btn-primary" data-loading-text="提交中" id="submitbtn" value="提交" />
        @Html.ActionLink("取消", "Details", null, new { @class = "btn", style = "margin-top: 5px;" })
        <strong id="filemsg" class="text-error hide">上传文件不得超过4MB</strong>
    </p>
}


@section end_scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Expansion.js"></script>
    <script>
        var counter = @counter;
        var map = {};
        $(function () {
            if(counter > 0)
                $(".well .text-important").hide();
            @if(counter > 0){
                foreach (var id in Model.blogIDs)
                {
                    <text>map[@(id)] = true;</text>
                }   
            }
        });
        $('#addblog').click(addRowClick);
        $('#Blogid').keypress(function (event) {
            if(event.which == 13){
                addRowClick();
                return false;
            }
        });
        function addRowClick(){
            if(!$('#Blogid').val())
                return;
            var id = parseInt($('#Blogid').val());
            if (!isNaN(id) && isFinite(id) && id > 0) {
                if (map[id])
                    return;
                map[id] = true;
                $.post('@Url.Action("GetTitle")', { id: id }, partial(addRow, id));
                $('#loadinggif').show();
            }
            else{
                alert("无效的输入，请输入大于0的数字");
            }
        }
        $('#editform').submit(function(){
            if($(this).valid()){
                $('#SubmitButton').button('loading');
            }
        });
        function addRow(id, rowtitle) {
            if (rowtitle) {
                var newTextBoxRow = $(document.createElement('li'))
                     .attr("id", 'BlogRow' + counter).attr("title", id.toString());
                newTextBoxRow.append(
                      '<input type="hidden" name="blogIDs" value="' + id + '" ><span>' + rowtitle + '</span>' +
                      '&nbsp;<input type="button" class="btn butnfix" onclick="rmRow(' + counter + ')" value="删除">'

                      );
                newTextBoxRow.prependTo("#idlist");
                if (counter == 0)
                    $(".well .text-important").hide();
                counter++;
            }
            else {
                alert('未找到编号为'+id+'的条目');
            }
            $('#loadinggif').hide();
            $('#Blogid').val('');
        }
        function rmRow(row) {
            var brow = $('#BlogRow' + row);
            delete map[brow.attr('title')];
            brow.remove();
            counter--;

            if(counter == 0)
                $(".well .text-important").show();
        }
    </script>
}
