﻿@model IEnumerable<MyMVCWeb.Models.Topic>
@{
    bool isDesc;
    string nextsort;
    string sortname = BlogUtil.getSortName(ViewBag.CurrentSort,out nextsort, out isDesc);
}

<div class="btn-toolbar listoption">
    <span class="label">排序</span>
    <div class="btn-group">
    <a class="btn btn-small" href="@Url.Action("List", new {sort = nextsort })">@sortname <i class="@if(isDesc){<text>icon-arrow-down</text>}else{<text>icon-arrow-up</text>}"></i></a>

    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("List", new {sort = ViewBag.DateSortParm })">发布日期</a></li>
        <li><a href="@Url.Action("List", new {sort = ViewBag.UpdateSortParm })">更新日期</a></li>
        <li><a href="@Url.Action("List", new {sort = ViewBag.PostSortParm })">最后评论</a></li>
        <li><a href="@Url.Action("List", new {sort = ViewBag.VisitSortParm })">浏 览 数</a></li>

    </ul>
    </div>
    <span class="label">查看</span>
    <div class="btn-group" data-toggle="buttons-radio">
        <button onclick="changeclass('one')" class="btn btn-small"><i class="icon-th-list"></i></button>
        <button onclick="changeclass('two')" class="btn btn-small"><i class="icon-th-large"></i></button>
        <button onclick="changeclass('three')" class="btn btn-small"><i class="icon-th"></i></button>
    </div>
</div>

@{string str = ViewContext.RouteData.Values["id"] as string;
  int id;
  if(int.TryParse(str,out id)){
      str = MyMVCWeb.Models.BlogUtil.categoryName(id);
      
      <h2 style="display: inline" title="@MyMVCWeb.Models.BlogUtil.categoryDesc(id)">@str</h2>
  }
  else{
      str = "专题列表";
      <h2 style="display: inline">@str</h2>
  }
  ViewBag.Title = str;
}

<div class="btn-toolbar" style="display: inline-block;margin:15px 0 0 15px;position:absolute;">
    <div class="btn-group">
    <a class="btn btn-small" href="@Url.Action("List", "Blog", new { id = ViewContext.RouteData.Values["id"] })">资源</a>
    <a class="btn btn-small active">专题</a>
    </div>
</div>
<hr />

<ul class="listview image fluid">
@foreach (var item in Model) {
    @Html.Partial("_TopicListPartial", item);
}

</ul>

@Html.Partial("_SortPagerPartial", Model)


@section end_scripts{
<script src="~/Scripts/cookie.js"></script>
<script>
    $(function () {
        $('.listview li').click(function () {
            window.open('@Url.Action("Details", new { id = "" })' + this.id);
        });
           var option = getCookie("d");
            if (option) {
                if (option == "two") {
                    $('.btn-group button')[1].className += " active";
                    changeclass(option);
                }
                else if (option == "three") {
                    $('.btn-group button')[2].className += " active";
                    changeclass(option);
                }
                else {
                    $('.btn-group button')[0].className += " active";
                }
            }
            else {
                $('.btn-group button')[0].className += " active";
            }
        });

        function changeclass(classname){
            $('.listview').attr('class', 'listview image fluid ' + classname);
            setCookie('d', classname);
    }
</script>
}