﻿@model PagedList.IPagedList<MyMVCWeb.Models.TopicPost>
<input type="hidden" id="curpagenum" value="@Model.PageNumber"/>
@foreach(var post in Model)
{
    int index = 0;
    <table style="width:100%" id ="@("listpost"+post.PostID)" class="replytable">
                <colgroup>
                   <col span="1" style="width: 100px;"/>
                   <col span="1" />
                </colgroup>
                <tr>
                    <td rowspan="3" class="replyavatar"><a href="@Url.Action("UserInfo","Home",new {name = post.Author})"><img src="@Url.Action("Show","Avatar",new {name = post.Author})" style="max-height:100px;max-width:100px;" /></a></td>
                    <td style="text-align:left; padding-left:2em;">@Html.ActionLink(post.Author, "UserInfo","Home",new {name = post.Author},null) 发表于 @post.PostDate
                        &nbsp;
                        @if (User.Identity.IsAuthenticated && post.topic.TopicID > 0)
                        {
                            <a onclick="rptReply(@post.PostID);" data-toggle="modal" role="button" href="#rptModal" class="hovershow">举报</a>
                        }
                        &nbsp;
                        @if(User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.Identity.Name == post.Author)
                        {
                            <a onclick="editreply(@post.PostID);" class="hovershow">编辑</a>@Html.Raw("  ")
                            <a onclick="delreply(@post.PostID);" class="hovershow">删除</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:2em;"><div id='@("postcontent"+ post.PostID)' class="bubble"><div class="reply">@Html.Raw(post.Content)</div></div></td>
                </tr>
                <tr>
                    <td style="padding-left:2em;display:none;" id="btnarea_@post.PostID">
                        @if(User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.Identity.Name == post.Author)
                        {
                            <input type="button" id="editreplybtn_@post.PostID" value ="提交" class="btn btn-small" onclick="@string.Format("editclick({0},'{1}');", post.PostID, Url.Action("EditReply")) " >
                            @Html.Raw(" ")
                            <input type="button" id="canceleditbtn_@post.PostID" value ="取消" class="btn btn-small" onclick="cancelclick();">
                            <span class = "field-validation-error" id ="editerror_@post.PostID"></span>
                        }
                    </td>
                </tr>
            </table>
    index++;
}
@if (!Model.IsFirstPage || !Model.IsLastPage)
{
    Html.RenderPartial("_AjaxPager", Model);
}
<script>
    if (location.hash && location.hash.indexOf("listpost") != -1) {
        $(location.hash).css("background-color", "lightGrey");
    }
</script>