html
{
	background: url(../Images/bg.jpg) top repeat-y fixed;
	margin: 0;
	padding: 0;
	-ms-word-break: break-all;
	word-break: break-all;
}

body
{
	max-width: 1000px;
	margin: 0 auto;
	color: #333;
	font-size: .85em;
	font-family: arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
	padding: 0;
	background-color: #e2e2e2;
	background-image: url("../Images/banner.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

a
{
	cursor: pointer;
}

header, footer, hgroup,
section
{
	display: block;
}

.pnav
{
	display: inline-block;
	position: relative !important;
	float: right;
	text-decoration: none;
	margin-bottom: 0px;
}

	.pnav a
	{
		color: #ffe2e2;
		cursor: pointer;
		text-shadow: 2px 0px 2px #3f1919;
		font-family: 'Microsoft YaHei';
	}

	.pnav .dropdown-menu a
	{
		text-shadow: none;
		padding-left: 6px;
		padding-right: 6px;
	}

.audit .label
{
	display: inline;
}

	.audit .label:empty
	{
		display: none;
	}

mark
{
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.clear-fix:after
{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2, h3,
h4, h5, h6
{
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1em;
}

h5, h6
{
	font-size: 0.75em;
}

	h5 a:link, h5 a:visited, h5 a:active
	{
		padding: 0;
		text-decoration: none;
	}

/* main layout
----------------------------------------------------------*/
.content-wrapper
{
	margin: 0 auto;
	max-width: 960px;
}

#body
{
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
	overflow: hidden;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.sidebar
{
	margin-top: 10px;
	width: 22%;
	float: right;
	margin-left: 3px;
}

.sidebarbu
{
	text-decoration: none;
	margin-left: 5px;
	font-size: 30px;
}

#body #main
{
	width: 74%;
	float: left;
	padding: 0 5px 20px 10px;
}

footer
{
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 135px;
}

.combubbles
{
	display: inline-block;
	width: 110px;
	height: 80px;
	position: absolute;
	top: -40px;
	right: 5px;
	background-image: url(/images/speech-bubbles.png);
}

	.combubbles:hover
	{
		background-image: url(/images/speech-bubbles-act.png);
	}

/*Bubble Replys*/
.hovershow
{
	visibility: hidden;
}

.replytable:hover .hovershow
{
	visibility: visible;
}

.replyavatar
{
	text-align: center;
	vertical-align: top;
}

.bubble>.reply
{
	width: 98%;
	max-height: 160px;
	overflow-y: auto;
	padding-left: 10px;
    margin-right: 5px;
}
.postreply .reply
{
	max-height:160px;
	overflow-y: auto;
}
.postreply>ul
{
	list-style:none;
	margin:0;
	border-top:3px dashed #000
}
	.postreply>ul.empty
	{
		border-top:none !important
	}
.postreply>ul>li
{
	list-style:none;
	padding:5px 8px;
    margin:10px 0;
	border:1px #a3a3a3 solid;
    border-radius: 10px;
}
	.postreply > ul > li:last-of-type
	{
		margin-bottom:0;
	}
.postreply .avatar
{
	float:left;
	padding-right:10px;
}
.postreply .avatar img
{
	max-height:50px;
	max-width:50px;
}
.replyact
{
	float:right;
}
.replyact .del
{
	visibility:hidden;
}
.postreply>ul>li:hover .del
{
	visibility:visible;
}

.bubble
{
	position: relative;
	max-width: 100%;
	min-height: 35px;
	padding: 5px;
	background: #FFFFFF;
	border: #000000 solid 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

	.bubble:after
	{
		content: "";
		position: absolute;
		top: 12px;
		left: -15px;
		border-style: solid;
		border-width: 10px 16px 10px 0;
		border-color: transparent #FFFFFF;
		display: block;
		width: 0;
		z-index: 1;
	}

	.bubble:before
	{
		content: "";
		position: absolute;
		top: 10px;
		left: -20px;
		border-style: solid;
		border-width: 12px 18px 12px 0;
		border-color: transparent #000000;
		display: block;
		width: 0;
		z-index: 0;
	}

.thumbs
{
	max-height: 150px;
	max-width: 150px;
	border: 1px solid black;
}

.uploaddiv
{
	position: relative;
}

#filehelp
{
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 100;
}

.uploadtext
{
	margin-left: 1em;
	margin-top: 8px;
	cursor: default;
	white-space: nowrap;
}
.weibodiv
{
	width:100%;
	box-shadow: rgb(51, 51, 51) 0px 0px 10px;
	background-color:#515151;
}
	.weibodiv>.uploadtext
	{
		white-space:initial;
		color:#DDD;
	}
	
.upinputdiv
{
	position: absolute;
}

	.upinputdiv .upinput
	{
		margin: 0 20px 0 5px;
		position: relative;
		border-radius: 4px;
		display: inline-block;
		white-space: nowrap;
	}
	.upinputdiv input[type="file"]
	{
		width:280px;
	}

	.upinputdiv a
	{
		position: absolute;
		left: 295px;
		top: 5px;
	}

.editthumbs
{
	position: relative;
	display: inline-block;
	margin: 2px;
	/*max-height:100px;
	max-width:100px;*/
}

	.editthumbs a
	{
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: transparent;
		text-align: center;
		z-index: 2;
		text-decoration: none;
		display: none;
	}

	.editthumbs:hover a
	{
		display: block;
	}

	.editthumbs a.del
	{
		top: 1px;
		right: 1px;
		background-image: url('../Images/glyphicons_197_remove.png');
		background-repeat: no-repeat;
		padding: 0;
		cursor: pointer;
	}

	.editthumbs a.set
	{
		top: 1px;
		left: 1px;
		background-image: url('../Images/glyphicons_179_eject.png');
		background-repeat: no-repeat;
		padding: 0;
		cursor: pointer;
	}

	.editthumbs a.ins
	{
		bottom: 1px;
		right: 1px;
		background-image: url('../Images/glyphicons_286_fabric.png');
		background-repeat: no-repeat;
		padding: 0;
		cursor: pointer;
	}

.imghover
{
	display: inherit;
}

	.imghover > img
	{
		display: none;
	}

	.imghover:hover > img
	{
		position: absolute;
		display: block;
	}

#rating
{
}

	#rating a
	{
		text-decoration: none;
		width: 100px;
		padding-left: 10px;
		padding-right: 10px;
		color: inherit;
		cursor: pointer;
		-moz-transition: padding 1s;
		-o-transition: padding 1s;
		-webkit-transition: padding 1s;
		transition: padding 1s;
	}

		#rating a:hover
		{
			border: 1px solid #232F01;
		}

	#rating td
	{
		text-align: center;
		border: 1px solid #ccc;
		padding: 0px 0px 0px 0px;
	}


	#rating .rate1:hover
	{
		background: white url("../Images/rate1.jpg") no-repeat center top;
		padding-top: 52px;
	}

	#rating .rate2:hover
	{
		background-image: url("../Images/rate2.jpg");
		background-repeat: no-repeat;
		padding-top: 170px;
		padding-left: 38px;
		padding-right: 38px;
	}

	#rating .rate3:hover
	{
		background: white url("../Images/rate3.gif") no-repeat top center;
		padding-top: 48px;
		padding-left: 12px;
		padding-right: 12px;
	}

	#rating .rate4:hover
	{
		background-image: url("../Images/rate4.jpg");
		background-repeat: no-repeat;
		padding-top: 150px;
		padding-left: 55px;
		padding-right: 55px;
	}

	#rating .rate5:hover
	{
		background-image: url("../Images/rate5.jpg");
		background-repeat: no-repeat;
		padding-top: 147px;
		padding-left: 42px;
		padding-right: 42px;
	}

.ratesuccess
{
	display: inline-block;
	padding-left: 40px;
	background-image: url(../Images/rateok.jpg);
	background-repeat: no-repeat;
	background-color: inherit;
	margin-top: 1em;
	padding-bottom: 5px;
}

.ratefail
{
	display: inline-block;
	color: red;
	padding-left: 25px;
	background-image: url(../Images/ratefail.jpg);
	background-repeat: no-repeat;
	background-color: inherit;
	margin-top: 1em;
	padding-bottom: 5px;
}

.checkbox input[type="checkbox"]
{
	float: none !important;
}

.detaillayout
{
	background-color: white;
	padding: 10px;
	margin-top: 1em;
}
.pager
{
	width: 100%;
	text-align: center;
}

/* Messages
---------------------------------*/

.tabmenu
{
	list-style: none;
	position: relative;
	z-index: 2;
	top: 1px;
	display: table;
	border-left: 1px solid #f5ab36;
	padding-left: 0;
	margin-bottom: 0;
}

	.tabmenu li
	{
		float: left;
	}

	.tabmenu li
	{
		background: #ffd89b;
		color: #222;
		display: block;
		padding: 6px 15px;
		text-decoration: none;
		border-right: 1px solid #f5ab36;
		border-top: 1px solid #f5ab36;
		border-right: 1px solid #f5ab36;
		margin: 0;
	}

		.tabmenu li.active
		{
			border-bottom: 1px solid #fff;
			color: #344385;
			background: #fff;
		}

.tabcontent
{
	width: 99%;
	margin: 0 auto;
	min-height: 200px;
	background: #fff;
	border: 1px solid #c3c3c3;
	z-index: 1;
	padding: 10px;
}

.popupdiv
{
	background-color: transparent;
	min-height: 350px;
	padding-bottom: 60px;
	word-wrap: break-word;
}

.pseudos
{
	background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0.9) 40px), -webkit-linear-gradient(225deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
	background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0.9) 40px), -moz-linear-gradient(225deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
	background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0.9) 40px), -o-linear-gradient(225deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 40px), linear-gradient(-45deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0.9) 40px), linear-gradient(225deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
}

.pseudos
{
	-webkit-background-size: 50% 100%, 50% 50%, 50% 50%;
	-moz-background-size: 50% 100%, 50% 50%, 50% 50%;
	background-size: 50% 100%, 50% 50%, 50% 50%;
	background-position: 0 0, 100% 100%, 100% 0;
	background-repeat: no-repeat;
}

	.pseudos:before
	{
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55px;
		height: 55px;
		border-top-left-radius: 6px;
		-webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.2);
		box-shadow: -2px -2px 1px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.2);
		background: -webkit-linear-gradient(-45deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
		background: -moz-linear-gradient(-45deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
		background: -o-linear-gradient(-45deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
		background: linear-gradient(-45deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
	}

.msglist-item
{
	cursor: pointer;
	white-space: nowrap;
}

	.msglist-item:hover
	{
		background-color: silver;
	}

	.msglist-item td
	{
		overflow: hidden;
	}

	.msglist-item p
	{
		margin: 1em 0;
	}

.msgtime
{
	text-align: right;
	color: #999999;
}

.msgclose
{
	border: 3px solid rgb(126, 126, 126);
	border-radius: 10px;
	position: absolute;
	top: -5px;
	right: -5px;
	color: black;
	cursor: pointer;
	width: 28px;
	height: 28px;
	background-image: url(/Images/close.png);
	background-repeat: no-repeat;
	box-shadow: -2px 2px 4px;
}

.msgbutton
{
	text-decoration: underline;
	cursor: pointer;
}

	.msgbutton:hover
	{
		background-color: silver;
	}

.btn-right
{
	float: right;
	margin-top: -5px;
}
/* Posts
----------------------------------------------- */
.date-header
{
	display: none;
	margin: 1.5em 0 .5em;
}

.post
{
	margin: 0 0 30px;
}

	.post>h3
	{
		border-bottom: #BFC9AE dashed 1px;
		color: #232F01;
		margin: 0;
		padding: 10px 0 5px;
	}

.post-featured span.label-important
{
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.post h3 a, .post h3 a:visited, .post h3 strong
{
	display: block;
	text-decoration: none;
	color: #232F01;
	font-weight: 400;
	font-size: 1.8em;
}

	.post h3 strong, .post h3 a:hover
	{
		color: #232F01;
	}

.post-body
{
	position: relative;
	text-align: justify;
	line-height: 1.6em;
	margin: 2em 0 .5em;
}

.post ul
{
	list-style-type: circle;
	font-size: 95%;
	margin: 2.5em;
}

.post ol
{
	font-size: 95%;
	margin: 0;
}

.post li
{
	margin: 0;
	padding: 0 0 8px;
}

.post-body blockquote
{
	line-height: 1.3em;
}

.post p
{
	line-height: 1.6em;
	margin: 0 0 .75em;
}

.post-header-line-1
{
	color: #5E5E5E;
	font-size: 10px;
	line-height: 160%;
	margin: 0;
}

.post-footer
{
	color: #232F01;
	font-size: 12px;
	letter-spacing: .1em;
	line-height: 160%;
	margin: 0;
}

.comment-link
{
	margin-left: .6em;
}

.post img
{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-transition: border 0.2s linear;
	-moz-transition: border 0.2s linear;
	transition: border 0.2s linear;
	border-radius: 5px;
	padding: 5px;
	max-height:350px;
	max-width:78%;
}

.post img, table.tr-caption-container
{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CECDCD;
	border-radius: 5px;
	padding: 5px;
}

	.post img:hover
	{
		border: 1px solid #232F01;
	}

.post a:hover
{
	background-color: #e6e6e6;
}

.nohover a:hover, .nohover a
{
	background-color: inherit;
}


.categories
{
	text-align: center;
	background: linear-gradient(#ccc,white);
	border-bottom: 2px solid rgb(172, 172, 172);
	max-height: 38px;
}

.catenav
{
	display: inline-block;
}

	.catenav > li
	{
		position: relative;
	}

	.catenav .badge
	{
		padding: 2px 4px !important;
		text-shadow: 2px 0px 2px #3f1919;
		position: absolute;
		top: 0px;
		right: 1px;
		opacity: 0.5;
		background-color: #FF677D;
	}

.listoption
{
	display: inline-block;
	float: right;
	margin: 15px 0 0;
}

	.listoption > .label
	{
		display: inline-block;
		margin: 5px 5px 0 5px;
		float: left;
	}

	.listoption > .btn-group
	{
		float: left;
	}

	.listoption .dropdown-menu
	{
		min-width: 86px;
		text-align: center;
	}

#blog
{
	padding-bottom:25px;
}

	#blog>h2
	{
		font-size: 2em;
		font-weight: bold;
		width: 100%;
		font-family: 'Microsoft YaHei',SimSun;
	}

	#blog .uimg
	{
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		-webkit-transition: border 0.2s linear;
		-moz-transition: border 0.2s linear;
		transition: border 0.2s linear;
		padding: 5px;
		max-height: 400px;
		max-width: 98%;
		display: inline;
	}

		#blog .uimg:hover
		{
			border: 1px solid #232F01;
		}

	#blog .marker
	{
		background-color: yellow;
	}

/* site title
----------------------------------------------------------*/
.site-title
{
	color: #F2F3F4;
	font-family: "Microsoft YaHei",Rockwell, Consolas, "Courier New", Courier, monospace;
	font-size: 2.3em;
	margin: 0;
	padding-top: 160px;
    padding-left: 62px;
}

	.site-title a, .site-title a:hover, .site-title a:active
	{
		background: none;
		color: #7ac0da;
		outline: none;
		text-decoration: none;
	}

#Logo
{
	max-height: 183px;
	max-width: 175px;
}


/* login
----------------------------------------------------------*/
#login
{
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

	#login li a
	{
		/*background-color: #d3dce0;*/
		margin-left: 3px;
		margin-right: 0px;
		margin-top: 230px;
		/*padding: 3px 2px;*/
		text-decoration: none;
	}

	#login a.username
	{
		color: #ffe2e2;
		background: none;
		margin-left: 0px;
		text-decoration: underline;
	}

	#login ul
	{
		margin: 0;
	}

	#login li
	{
		display: inline;
		list-style: none;
	}

.logout
{
	margin-left: 5px;
	margin-top: 0px;
	text-decoration: none;
}

.logusername
{
	width: 100px;
	text-align: center;
	display: inline-block;
	color: #ffe2e2;
	text-shadow: 2px 0px 2px #3f1919;
	padding-right: 4px;
	max-height: 3.1em;
	white-space: nowrap;
	position: relative;
}

.loguseravatar
{
	position: relative;
	height: 100px;
	width: 100px;
	display: inline-block;
	border-style: outset;
	border-width: 0px;
}
/* .loguseravatar:hover .hovershow {
        visibility:visible;
    }*/
.expbar
{
	height: 10px;
	width: 100%;
	margin-bottom: 0px;
	border: 2px ridge #ccc;
	border-radius: 5em;
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.exp
{
	display: inline-block;
	width: 100px;
	color: rgba(255, 255, 255, 0.00);
	position: absolute;
	top: -3px;
	left: 1px;
	text-shadow: none;
}

	.exp:hover
	{
		color: #e1e1e1;
		text-shadow: 2px 0px 2px #000000;
	}

.lvl
{
	background-color: #f5ab36;
	position: absolute;
	left: -4px;
	top: 82px;
	color: #fff;
	text-shadow: 2px 0px 2px #000;
	border: 2px groove #fff;
}

	.lvl.lv
	{
		top: -5px;
		left: -4px;
	}
/* menu
----------------------------------------------------------*/
ul#menu
{
	font-size: 1.3em;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	margin: 0 0 5px;
	padding: 0;
	text-align: right;
	height: 22px;
}

	ul#menu li
	{
		display: inline;
		list-style: none;
		background-color: whitesmoke;
		padding-left: 3px;
		padding-right: 3px;
	}

		ul#menu li a
		{
			background: none;
			color: #999;
			text-decoration: none;
		}

			ul#menu li a:hover
			{
				color: #333;
				text-decoration: none;
			}


.draghandle
{
	height: 10px !important;
	text-align: center;
	background: linear-gradient(transparent,black);
}

	.draghandle:after
	{
		content: "\25E2";
		position: absolute;
		bottom: 5px;
		right: 5px;
		font-size: 18px;
	}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
	background-color: #fff;
}

	.featured .content-wrapper
	{
		background-color: #7ac0da;
		background-image: -moz-linear-gradient(left, #7ac0da 0%, #2374c3 100%);
		background-image: -ms-linear-gradient(left, #7ac0da 0%, #2374c3 100%);
		background-image: -o-linear-gradient(left, #7ac0da 0%, #2374c3 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #2374c3));
		background-image: -webkit-linear-gradient(left, #7ac0da 0%, #2374c3 100%);
		background-image: linear-gradient(left, #7ac0da 0%, #2374c3 100%);
		border-radius: 0 0 2em 2em;
		color: #3e5667;
		padding: 20px 40px 30px 40px;
	}

	.featured hgroup.title h1, .featured hgroup.title h2
	{
		color: #fff;
	}

	.featured p
	{
		font-size: 1.1em;
	}

/* page titles */
hgroup.title
{
	margin-bottom: 10px;
}

	hgroup.title h1, hgroup.title h2
	{
		display: inline;
	}

	hgroup.title h2
	{
		font-weight: normal;
		margin-left: 3px;
	}

/* features */
section.feature
{
	width: 300px;
	float: left;
	padding: 10px;
}

/* ordered list */
ol.round
{
	list-style-type: none;
	padding-left: 0;
}

	ol.round li
	{
		margin: 25px 0;
		padding-left: 45px;
	}

		ol.round li.zero
		{
			background: url("../Images/orderedList0.png") no-repeat;
		}

		ol.round li.one
		{
			background: url("../Images/orderedList1.png") no-repeat;
		}

		ol.round li.two
		{
			background: url("../Images/orderedList2.png") no-repeat;
		}

		ol.round li.three
		{
			background: url("../Images/orderedList3.png") no-repeat;
		}

		ol.round li.four
		{
			background: url("../Images/orderedList4.png") no-repeat;
		}

		ol.round li.five
		{
			background: url("../Images/orderedList5.png") no-repeat;
		}

		ol.round li.six
		{
			background: url("../Images/orderedList6.png") no-repeat;
		}

		ol.round li.seven
		{
			background: url("../Images/orderedList7.png") no-repeat;
		}

		ol.round li.eight
		{
			background: url("../Images/orderedList8.png") no-repeat;
		}

		ol.round li.nine
		{
			background: url("../Images/orderedList9.png") no-repeat;
		}

/* content */
article
{
	float: left;
	width: 70%;
}

aside
{
	float: right;
	width: 25%;
}

	aside ul
	{
		list-style: none;
		padding: 0;
	}

		aside ul li
		{
			background: url("../Images/bullet.png") no-repeat 0 50%;
			padding: 2px 0 2px 20px;
		}

.label
{
	font-weight: 700;
}

/* login page */
/* login page */
#loginForm
{
	border-right: solid 2px #c8c8c8;
	float: left;
	width: 55%;
}

	#loginForm .validation-error
	{
		display: block;
		margin-left: 15px;
	}

	#loginForm .validation-summary-errors ul
	{
		margin: 0;
		padding: 0;
	}

	#loginForm .validation-summary-errors li
	{
		display: inline;
		list-style: none;
		margin: 0;
	}

	#loginForm input
	{
		width: 250px;
	}

		#loginForm input[type="checkbox"],
		#loginForm input[type="submit"],
		#loginForm input[type="button"],
		#loginForm button
		{
			width: auto;
		}

#socialLoginForm
{
	margin-left: 40px;
	float: left;
	width: 40%;
}

	#socialLoginForm h2
	{
		margin-bottom: 5px;
	}

#socialLoginList button
{
	margin-bottom: 12px;
}

#logoutForm
{
	display: inline;
}


/* contact */
.contact h3
{
	font-size: 1.2em;
}

.contact p
{
	margin: 5px 0 0 10px;
}

.contact iframe
{
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}

	fieldset legend
	{
		display: none;
	}

	fieldset ol
	{
		padding: 0;
		list-style: none;
	}

		fieldset ol li
		{
			padding-bottom: 5px;
		}

label
{
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}

	label.checkbox
	{
		display: inline;
	}

input, textarea
{
	background: #fff;
	color: #333;
	font-size: 1.2em;
	margin: 5px 0 6px 0;
	padding: 5px;
	width: 250px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
}

/*textarea {
        font-family: inherit;
        width: 640px;
	height: 362px;
}
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 1px;
    }*/

/* info and errors */
.message-info
{
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error
{
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success
{
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error
{
	color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
	padding-top: 10px;
	padding-left: 5px;
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid
{
	display: none;
}

input.input-validation-error
{
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
	border: 0 none;
}

.validation-summary-errors
{
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid
{
	display: none;
}

/* tables
----------------------------------------------------------*/
table
{
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0.75em;
	border: 0 none;
}

th
{
	font-size: 1.2em;
	text-align: left;
	border: none 0px;
	padding-left: 0;
}

td
{
	padding: 0.25em .25em 0.25em 0em;
	border: 0 none;
}

tr.pager td
{
	padding: 0 0.25em 0 0;
}

/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT License
 *
 * ListView.less
 * Version 1.0
 */
.listview
{
	margin-left: 0;
	list-style: none;
	*zoom: 1;
}

	.listview li
	{
		margin-bottom: 10px;
		border: 4px transparent solid;
		padding: 10px;
		width: 300px;
		position: relative;
		display: block;
		cursor: pointer;
		height: 102px;
		*zoom: 1;
	}

		.listview li .icon
		{
			width: 48px;
			height: 48px;
			font-size: 40px;
			float: left;
		}

			.listview li .icon img
			{
				max-width: 100px;
				max-height: 100px;
			}

		.listview li .imgcenter
		{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 100px;
			height: 100px;
		}

		.listview li .icon i
		{
			margin-top: 10px;
		}

		.listview li .data
		{
			margin-left: 55px;
			max-height: 102px;
			/*overflow:hidden;*/
		}

			.listview li .data h4
			{
				margin: 0;
				padding: 0 0 2px 0;
				max-height: 2.3em;
				line-height:1.3em;
				overflow: hidden;
			}

			.listview li .data p
			{
				margin: 0;
				font-size: 9pt;
			}

			.listview li .data .lfoot
			{
				font-size: 10px;
				color: #808080;
				display: inline-block;
				white-space: nowrap;
				width: 45px;
			}

				.listview li .data .lfoot .ico
				{
					position: relative;
					top: -2px;
				}

			.listview li .data .static-rating.small,
			.listview li .data .progress-bar
			{
				margin-bottom: 3px;
			}

		.listview li:hover
		{
			outline: 3px #ccc solid;
		}

		.listview li:active
		{
			outline: 3px #3e3e3e solid;
		}

		.listview li:before,
		.listview li:after
		{
			display: table;
			content: "";
		}

		.listview li:after
		{
			clear: both;
		}

	.listview.image li
	{
		width: 95%;
	}

	.listview.image.two li
	{
		width: 320px;
	}

	.listview.image.three li
	{
		width: 205px;
	}

	.listview.image.info li
	{
		width: 520px;
	}

	.listview.image.three li .data p
	{
		display: none;
	}

	.listview.image.three li .data strong
	{
		font-size: 8pt;
		white-space:nowrap;
	}

	.listview.three li .data h4
	{
		max-height: 3.6em;
	}

	.listview.image li .icon
	{
		display: inline;
		width: 100px;
		height: 100px;
		border: 1px #ccc solid;
	}

	.listview.image li .data
	{
		margin-left: 110px;
	}

		.listview.image li .data h4
		{
			margin-bottom: 4px;
		}

	.listview.image li .posttime
	{
		color: #BBB;
		float: right;
		margin-top: 60px;
		overflow: hidden;
	}

	.listview.image li .data p
	{
		max-width: 480px;
		overflow: hidden;
		line-height: 16px;
		font-size: 10pt;
		margin-bottom: 5px;
		max-height: 50px;
	}

	.listview.image li .data .static-rating.small,
	.listview.image li .data .progress-bar
	{
		margin-bottom: 10px;
	}

	.listview.iconic li .icon
	{
		width: 32px;
		height: 32px;
		border: 1px #ccc solid;
	}

	.listview.iconic li .data
	{
		margin-left: 40px;
	}

	.listview.fluid li
	{
		float: left;
		margin-right: 10px;
	}

	.listview li div.badge
	{
		position: absolute;
		left: -4px;
		top: -4px;
		background-color: #2d89ef;
		padding: 5px;
		margin: 0 !important;
		text-align: center;
		display: block;
		font-size: 9pt;
		color: #ffffff;
	}

		.listview li div.badge.info
		{
			background-color: #2d6987;
		}

		.listview li div.badge.right
		{
			right: -4px;
			left: auto;
		}

		.listview li div.badge.bottom
		{
			top: auto;
			bottom: -4px;
		}

	.listview > li.selected
	{
		border: 4px #2d89ef solid;
	}

		.listview > li.selected:after
		{
			width: 0;
			height: 0;
			border-top: 40px solid #2d89ef;
			border-left: 40px solid transparent;
			position: absolute;
			display: block;
			right: 0;
			content: "";
			top: 0;
			z-index: 1001;
		}

		.listview > li.selected:before
		{
			position: absolute;
			content: "\ff01";
			color: #fff;
			right: 4px;
			top: 0;
			font-family: iconFont;
			z-index: 1002;
			display: block;
		}

	.listview:before,
	.listview:after
	{
		display: table;
		content: "";
	}

	.listview:after
	{
		clear: both;
	}
/*Search Query*/
input.tagsearch
{
	background: #f5f5f5 url('/images/search.png') no-repeat 9px 8px;
	border-radius: 5em;
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
	/*border: none;*/
	padding-left: 25px;
	vertical-align: baseline;
	height: 20px;
	width: 100px;
}

	input.tagsearch:focus
	{
		box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3), 0 0 8px rgba(82, 168, 236, 0.6);
	}

input.searchbtn
{
	font-family: 'Microsoft YaHei';
	height: 30px;
}

/*Manage Page*/
.butnfix
{
	margin-bottom: 10px;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 720px)
{

	/* header
    ----------------------------------------------------------*/
	/*header
	{
		padding-bottom:45px;
	}
    header .float-left,
    header .float-right {
        float: none;
    }*/

	/* logo */
	header .site-title
	{
		margin: 10px;
		text-align: center;
	}

	#body
	{
	}

	/* login */
	#login
	{
		font-size: .85em;
		margin: 0 0 12px;
		text-align: center;
	}

		#login ul
		{
			margin: 5px 0;
			padding: 0;
		}

		#login li
		{
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

	/* menu */
	nav
	{
		margin-bottom: 5px;
	}

	ul#menu
	{
		margin: 0;
		padding: 0;
		text-align: center;
	}

		ul#menu li
		{
			margin: 0;
			padding: 0;
		}


	/* main layout
    ----------------------------------------------------------*/
	.main-content,
	.featured + .main-content
	{
		background-position: 10px 0;
	}

	.content-wrapper
	{
		padding-right: 10px;
		padding-left: 10px;
	}

	.featured .content-wrapper
	{
		padding: 10px;
	}

	/* page content */
	.sidebar input[type="search"]
	{
		width: 50%;
	}

	.sidebar .checkbox
	{
		margin-left: 0px !important;
	}

	.sidebar .searchbtn
	{
		padding: 0 5px;
	}
	/* ordered list */
	ol.round
	{
		list-style-type: none;
		padding-left: 0;
	}

		ol.round li
		{
			padding-left: 10px;
			margin: 25px 0;
		}

			ol.round li.zero,
			ol.round li.one,
			ol.round li.two,
			ol.round li.three,
			ol.round li.four,
			ol.round li.five,
			ol.round li.six,
			ol.round li.seven,
			ol.round li.eight,
			ol.round li.nine
			{
				background: none;
			}

	/* features */
	section.feature
	{
		float: none;
		padding: 10px;
		width: auto;
	}

		section.feature img
		{
			color: #999;
			content: attr(alt);
			font-size: 1.5em;
			font-weight: 600;
		}



	/* login page */
	#loginForm
	{
		border-right: none;
		float: none;
		width: auto;
	}

		#loginForm .validation-error
		{
			display: block;
			margin-left: 15px;
		}

	#socialLoginForm
	{
		margin-left: 0;
		float: none;
		width: auto;
	}

	/* footer
    ----------------------------------------------------------*/
	footer .float-left,
	footer .float-right
	{
		float: none;
	}

	footer
	{
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p
		{
			margin: 0;
		}
}
/* END: Mobile Styles */
