﻿@model PagedList.IPagedList<Blog>

@{
    ViewBag.Title = "审核";
    bool showunapprove = Request.QueryString["showunapprove"] != null;
}

<h2>审核</h2>
@if(showunapprove){
    @Html.ActionLink("显示待审核项目", "Audit", new object())
}
else{
    @Html.ActionLink("显示不通过项目", "Audit", new { showunapprove = true})
}
<hr />

@if(Model.Count == 0){
    <table style="background-color: #FFFFFF;border-collapse: collapse;border-color: #999999;border-style:none;border-width:1px;">
        <tr>
            <td>没有未审核的项目。</td>
        </tr>
    </table>
}
else{
    <div>
      <table id="itemPlaceholderContainer" border="1" style="background-color: #FFFFFF;table-layout:fixed;width:100%;word-break:break-all;
                        border-color: #999999;border-style:solid;border-width:1px;">
            <colgroup>
                <col style="width:15%" />
                <col style="width:20%" />
                <col style="width:15%" />
                <col style="width:15%" />
                <col style="width:10%" />
                <col style="width:10%" />
                <col style="width:15%" />
            </colgroup>
            <tr style="background-color:#DCDCDC;color: #000000;">
                <th>标题</th>
                <th>内容</th>
                <th>附图</th>
                <th>时间</th>
                <th>类别</th>
                <th>作者</th>
                <th>操作</th>
            </tr>
          @{int i = 0;}
          @foreach(Blog b in Model){
            <tr id="row_@b.BlogID" style="background-color:@((++i % 2) == 0 ? "#DCDCDC" : "#FFF8DC" );color: #000000;">
                <td>
                    <a href='@Url.Action("Details","Blog",new {id = b.BlogID})' id="title_@b.BlogID" >@b.BlogTitle</a>
                </td>
                <td>
                    <p> @BlogUtil.getFirstLine(b.Content, 50, true)</p>
                </td>
                <td >
                    @{string path = b.isLocalImg ? Url.Action("Index", "Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(b.ImagePath) }) : b.ImagePath;}
                    <a class="imghover" href='@path'> <p>@b.ImagePath</p>  
                                  <img src='@path' /> </a>
                </td>
                <td>
                    <p>@b.BlogDate</p>
                </td>
                <td>
                    <p>@BlogUtil.categoryName(b.CategoryID)</p>
                </td>
                <td>
                    <p><a href="@Url.Action("UserInfo","Home",new {name = b.Author})">@b.Author</a></p>
                </td>
                <td>
                    <input type="button" value="通过" name="@b.BlogID" OnClick="PassBtn_Click(this);" class="btn btn-primary btn-mini" />
                    <div class="btn-group">
                    <input type="button" value="不通过" name="@b.BlogID" OnClick="Del_Show(this);" class="btn dropdown-toggle btn-mini" />
                    <div id="dialog_@b.BlogID" class="dropdown-menu" style="left:initial;right:0;width:300px;"></div>
                    </div>
                </td>
            </tr>
          }
        </table>
    </div>
    if(Model.HasNextPage || Model.HasPreviousPage){
        @Html.Partial("_PagerPartial", Model)
    }
    using (Html.BeginForm("UnApprove", "Admin", FormMethod.Post, new { id = "DeleteForm", style="display:none;"}))
    {
        @Html.AntiForgeryToken()
        <div class="popover-title"><h4>审批通知（投稿地址自动附在最后）</h4></div>
        <div class="popover-content">
        <textarea name="MsgContent" id="delMsgContent" style="width:95%;height:160px;resize:none;"></textarea>
        <br/>
        <input type="submit" value="确认" class="btn btn-inverse"/> <label class="checkbox inline"><input type="checkbox" name="sendmsg" value="true" checked/>发送通知</label>
            <label class="checkbox inline"><input type="checkbox" name="delete" value="true" />立即删除</label>
        <input type="hidden" name="blogid" id="delblogid"/>
        <input type="hidden" name="page" id="delpage" value="@(Model.LastItemOnPage == 1 ? Model.PageNumber-1 : Model.PageNumber)"/>
        </div>
    }

    using (Html.BeginForm("Pass", "Admin", FormMethod.Post, new { id = "PassForm", style = "display:none;" }))
    {
        @Html.AntiForgeryToken()
        @*<input type="text" id="passMsgTitle" name="MsgTitle" value=""/>
        <textarea name="MsgContent" id="passMsgContent" style="width:100%;height:100%"></textarea>
        <input type="submit" value="通过" /> <label class="checkbox"><input type="checkbox" name="sendmsg" checked/>发送通知</label>*@
        <input type="hidden" name="blogid" id="passblogid"/>
        <input type="hidden" name="page" id="passpage" value="@(Model.LastItemOnPage == 1 ? Model.PageNumber-1 : Model.PageNumber)"/>
    }
}

@section scripts{
    <script>
        var delformpos = 0;
        var dialog;
        function Del_Show(elem) {
            var form = $('#DeleteForm');
            if (delformpos != elem.name) {
                if (dialog) {
                    $(dialog).parent().removeClass('open');
                    dialog.hide();
                }
                dialog = $('#dialog_' + elem.name);
                dialog.append(form);
                var msgtitle = $('#title_'+elem.name).html();
                var content = $('#delMsgContent').html("您的投稿 " + msgtitle + " 未通过审核。\n原因：");
                $('#delblogid').val(elem.name);
                delformpos = elem.name;
                form.show();
            }
            toggleparent(elem);
            
        }
        function toggleparent(elem) {
            var parent = $(elem).parent();
            if (parent.hasClass('open')) {
                parent.removeClass('open');
                dialog.hide();
            }
            else {
                parent.addClass('open');
                dialog.show();
            }
        }
        //function Pass_Show(elem) {
        //    $('#dialog_' + elem.name).append($('#DeleteForm'));
        //    var msgtitle = $('title_' + elem.name).html();
        //    var title = $('#passMsgTitle').val("通过通知");
        //    var content = $('#passMsgContent').html("您的投稿 " + msgtitle + " 已被通过。\n");
        //}
        function PassBtn_Click(elem) {
            $('#passblogid').val(elem.name);
            $('#PassForm').submit();
        }

    </script>
}
