﻿@model MyMVCWeb.Models.AdminViewModel

@{
    ViewBag.Title = "管理员";
}

<h1>数据</h1>
    <hr />
    <ul>
    <li>总注册人数：@Model.totalusercount </li>
    <li>当前待审批条目：@Model.auditcount
    &nbsp;&nbsp;&nbsp;&nbsp; 
    当前总条目：@Model.totalauditcount </li>
    <li>今日新增条目：@Model.todaynewitem
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    昨日新增条目：@Model.yesterdaynewitem</li>
        </ul>
    <h1>管理</h1>
<hr />
@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("管理广告", "AdManage", "Advertisment")
}
    <h2>管理员名单</h2>

<table>
    <thead>
        <tr><th>用户名</th><th>邮箱</th><th>上次登录日期</th><th>职称</th></tr>
    </thead>
    <tbody>
        @{int i=0;
            foreach(var admin in Model.Admins){
            <tr style="@(i++ %2!=0? "background-color:#DCDCDC" : "background-color:#FFF8DC");color: #000000;">
                <td>@admin.UserName</td><td>@admin.Email</td><td>@admin.LastLoginDate</td>    <td>@string.Join(",", Roles.GetRolesForUser(admin.UserName)) </td>
            </tr>
            }
        }
                       
    </tbody>
</table>

@if(User.IsInRole("Administrator")){
<div id="manageadmindiv" style="padding-bottom:20px;">
    @using (Ajax.BeginForm("ManageAdmin", new AjaxOptions { OnFailure = "displayerror", UpdateTargetId = "adminmsg" }))
    {
        @Html.AntiForgeryToken()
    <input id="adminname" name="adminname" placeholder="用户名称" type="text" data-val="true" data-val-regex="无效的名字" data-val-regex-pattern="^[a-zA-Z0-9_\u4e00-\u9fa5]{1,20}$" data-val-required="请输入名字"/>
    <input type="submit" class="btn btn-primary butnfix" value="添加管理员" name="behaviour"/> <input type="submit" class="btn butnfix" value="删除管理员" name="behaviour"/> 
        <h4 data-valmsg-for="adminname" data-valmsg-replace="true"></h4>
        <h4 class="text-info" id="adminmsg"></h4>
    }
</div>
}

<h2>作者名单</h2>
<table>
    <thead>
        <tr><th>用户名</th><th>邮箱</th><th>上次登录日期</th></tr>
    </thead>
    <tbody>
           @{i = 0;
             foreach (var user in Model.Writers)
             {
            <tr style="@(i++ % 2 != 0 ? "background-color:#DCDCDC" : "background-color:#FFF8DC");color: #000000;">
                <td>@user.UserName</td><td>@user.Email</td><td>@user.LastLoginDate</td>    <td>@string.Join(",", Roles.GetRolesForUser(user.UserName)) </td>
            </tr>
             }
        }
    </tbody>
</table>
<div id="managewriterdiv" style="padding-bottom:20px;">
    @using (Ajax.BeginForm("ManageWriter", new AjaxOptions { OnFailure = "displayerror", UpdateTargetId = "writermsg" }))
    {
        @Html.AntiForgeryToken()
    <input id="writername" name="writername" placeholder="用户名称" type="text" maxlength="20" data-val="true" data-val-required="请输入名字"/>
    <input type="submit" class="btn btn-primary butnfix" value="添加作者" name="behaviour"/> <input type="submit" class="btn butnfix" value="删除作者" name="behaviour"/>
        <h4 data-valmsg-for="writername" data-valmsg-replace="true"></h4>
        <h4 class="text-info" id="writermsg"></h4>
    }
</div>
<h2>封禁用户</h2>
    <p>当前封禁用户数: @Model.bannedusercount</p>

<div id="managebandiv" style="padding-bottom:20px;">
    @using (Ajax.BeginForm("ManageBan", new AjaxOptions { OnFailure = "displayerror", UpdateTargetId = "banmsg" }))
    {
        @Html.AntiForgeryToken()
        <input id="banname" name="banname" placeholder="用户名称" type="text" maxlength="20" data-val="true" data-val-required="请输入名字"/>
        <input type="submit" class="btn btn-inverse butnfix" value="封禁" name="behaviour"/> <input type="submit" class="btn butnfix" value="解封" name="behaviour"/>
        <h4 data-valmsg-for="banname" data-valmsg-replace="true"></h4>
        <h4 class="text-info" id="banmsg"></h4>
    }
</div>

<h2>置顶文章设置</h2>
<h4>输入文章的id，用[,]分隔，最多5个。</h4>
@using (Ajax.BeginForm("DataSettings", new AjaxOptions { OnFailure = "displayerror", UpdateTargetId = "datamsg" }))
{
    @Html.AntiForgeryToken();
    <input type="text" name="featuredBlogId" value="@Model.datasettings.featuredblogids" />
    <input type="submit" value="设置" class="btn butnfix" />
    <p class="text-info" id="datamsg"></p>
}


@if (User.IsInRole("Administrator"))
{
<h2>栏目管理</h2>
<h4>@ViewBag.CategoryMsg</h4>
<table style="width:100%;margin-left:5px" >
    <tr >
        <td>
            <table id="itemPlaceholderContainer" style="background-color: #FFFFFF;border-collapse: collapse;border-color: #999999;border-style:solid;border-width:1px;display:block;width:100%">
                <colgroup>
                    <col style="width:25%"/>
                    <col style="width:50%" />
                    <col style="width:25%" />
                </colgroup>
                <tr style="background-color: #E0FFFF;color: #333333;">
                    <th>分类名称</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                @{i = 0;
                  foreach (var Item in Model.allCategory)
                  {
                <tr style="background-color: @(i++ % 2 == 0 ? "#FFFFFF" : "#E0FFFF");color: #333333;display:none;" id="tre@(Item.CategoryID)">
                    <td>
                        <input type="text" id="editname@(Item.CategoryID)" value="@Item.CategoryName" />
                    </td>
                    <td>
                        <input type="text" id="editdesc@(Item.CategoryID)" value="@Item.Description" />

                    </td>
                    <td>
                        <Button ID="CancelCategory" name="@Item.CategoryID" >取消</Button><Button ID="SubmitCategory" name="@Item.CategoryID" >确认</Button>
                    </td>
                </tr>
                <tr style="background-color: @(i % 2 == 0 ? "#FFFFFF" : "#E0FFFF");color: #333333;" id="tr@(Item.CategoryID)">
                    <td>
                        @Item.CategoryName
                    </td>
                    <td>
                        @Item.Description
                    </td>
                    <td>
                        <Button ID="DelCategory" name="@Item.CategoryID" >删除</Button><Button ID="EditCategory" name="@Item.CategoryID" >编辑</Button>
                    </td>
                </tr>
                  }
                }
                <tr>
                    <td>
                        <input type="text" id="newname" value="" data-val="true" data-val-regex="无效的名字" data-val-regex-pattern="^[a-zA-Z0-9_\u4e00-\u9fa5]{1,20}$" data-val-required="请输入名字"/>
                    </td>
                    <td>
                        <input type="text" id="newdesc" value="" data-val="true" data-val-regex="无效的描述" data-val-regex-pattern="^[a-zA-Z0-9_\u4e00-\u9fa5]{0,100}$" />

                    </td>
                    <td>
                        <Button ID="NewCategory">添加</Button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}

@using (Html.BeginForm("ManageCategory", "Admin", FormMethod.Post, new { id = "managecategory" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="categoryid" id="categoryid" />
    <input type="hidden" name="categoryname" id="categoryname" />
    <input type="hidden" name="categorydesc" id="categorydesc" />
    <input type="hidden" name="action" id="action" />
}

@if (User.IsInRole("Administrator"))
{

<h2>网站参数（更改将导致网站重启）</h2>
    using (Html.BeginForm("BanIP", "Admin"))
    {
            @Html.AntiForgeryToken()
    <label for="blockip">封禁的IP（一行一个）</label>
    <textarea id="blockip" name="blockip">@BlogUtil.splitIPtoTextArea(Model.appsettings.blockip)</textarea>
        <input type="submit" class="btn" value="设置" />
    }
    using (Html.BeginForm("ManageSettings", "Admin"))
    {
            @Html.AntiForgeryToken()
    <label for="updateinterval">排行更新间隔（分钟）</label>
    <input type="text" name="updateinterval" id="updateinterval" value="@Model.appsettings.updateinterval" />
    <label for="expaddonpass">审核通过奖励</label>
    <input type="number" name="expaddonpass" id="expaddonpass" value="@Model.appsettings.expaddonpass" />
    <label for="expaddondays">连续登陆奖励（用[,]分隔）</label>
    <input type="text" name="expaddondays" id="expaddondays" value="@Model.appsettings.expaddondays" />
    <h3>页数设置</h3>
    <label for="homepagesize">主页列表每页条目</label>
    <input type="number" name="homepagesize" id="homepagesize" value="@Model.appsettings.homepagesize" />
    <label for="userpagesize">用户投稿每页条目</label>
    <input type="number" name="userpagesize" id="userpagesize" value="@Model.appsettings.userpagesize" />
    <label for="auditpagesize">审核列表每页条目</label>
    <input type="number" name="auditpagesize" id="auditpagesize" value="@Model.appsettings.auditpagesize" />
    <label for="listpagesize">资源列表每页条目</label>
    <input type="number" name="listpagesize" id="listpagesize" value="@Model.appsettings.listpagesize" />
    <label for="msgpagesize">消息列表每页条目</label>
    <input type="number" name="msgpagesize" id="msgpagesize" value="@Model.appsettings.msgpagesize" />
    <label for="replypagesize">回复列表每页条目</label>
    <input type="number" name="replypagesize" id="replypagesize" value="@Model.appsettings.replypagesize" />
    <label for="rankingsize">排行显示个数</label>
    <input type="number" name="rankingsize" id="rankingsize" value="@Model.appsettings.rankingsize" />
    <br /><input type="submit" class="btn" value="设置" />
    }
}


@section end_scripts{
<script>
    var title; var desc;
    $("Button#EditCategory").click(function () {
        var $this = $(this);
        var id = $this.attr('name');
        $('#tr'+id).hide();
        $('#tre' + id).show();
        title = $('#editname' + id).val();
        desc = $('#editdesc' + id).val();
    });
    $("Button#CancelCategory").click(function () {
        var $this = $(this);
        var id = $this.attr('name');
        $('#tre' + id).hide();
        $('#tr' + id).show();
        $('#editname' + id).val(title);
        $('#editdesc' + id).val(desc);
    });
    $("Button#DelCategory").click(function () {
        if (confirm("确认删除？（无法删除非空栏目）")) {
            var $this = $(this);
            var id = $this.attr('name');
            $('#categoryid').val(id);
            $('#action').val('del');
            $('#managecategory').submit();
        }
    });
    $("Button#SubmitCategory").click(function () {
        var $this = $(this);
        var id = $this.attr('name');
        $('#categoryid').val(id);
        desc = $('#editdesc' + id).val();
        title = $('#editname' + id).val();
        $('#categoryname').val(title);
        $('#categorydesc').val(desc);
        $('#action').val('edit');
        $('#managecategory').submit();
    });
    $("Button#NewCategory").click(function () {
        var ndesc = $('#newdesc').val();
        var ntitle = $('#newname').val();
        $('#categoryname').val(ntitle);
        $('#categorydesc').val(ndesc);
        $('#action').val('new');
        $('#managecategory').submit();
    });
    function displayerror(error) {
        if (error && error.responseText) {
            document.write(error.responseText);
        }
    }
</script>
}