﻿@model MyMVCWeb.Models.BlogWithRating

        <li id="@Model.blog.BlogID">
            <div class="badge">
                评分：@Model.rating
            </div>
            <div class="icon">
                <div class="imgcenter">
                    @{string imgpath = Model.blog.isLocalImg ? ("/Images/Thumbs/" + MyMVCWeb.Models.BlogUtil.firstImgPath(Model.blog.ImagePath)) : Model.blog.ImagePath;}
                    <img src="@imgpath"/>
                </div>
            </div>
            <div class="data">
                <h4>
                    @Model.blog.BlogTitle
                </h4>
                <p style="word-break:keep-all"> @BlogUtil.getFirstLine(Model.blog.Content, 100, true)</p>
                <strong>投稿：@Model.blog.Author</strong>
                <br />
                &nbsp;<span class="lfoot"><i class="icon-eye-open ico"></i> @Model.blog.BlogVisit</span><span class="lfoot"><i class="icon-comment ico"></i> @Model.blog.posts.Count</span>
            </div>
        </li>