﻿@model MyMVCWeb.Models.BlogLink[]

@{int i = 0;}
<style>
    .btfile{position:absolute;right:30px;background:url('/Images/upload.jpg') center no-repeat}
    .btfile input{width:68px;opacity:0;padding:0;margin:0}
</style>
<div style="position:relative">
    <div class="btfile">
        <input type="file" id="btfile" title="上传bt种子" />
    </div>
<table>
    <thead>
        <tr><th>显示名称</th><th>链接地址</th></tr>
    </thead>
<tbody id="TextBoxesGroup">
    <tr>
        <td colspan="2"><a id="addButton"><i class="icon-plus-sign"></i></a><a id="removeButton"><i class="icon-minus-sign"></i></a></td>
    </tr>
    @if(Model !=null && Model.Length > 0){
        for (; i < Model.Length; i++ )
        {
            <tr id="TextBoxRow@(i)">
                <td><input type="text" name="BlogLinks[@i].name"placeholder="选填" value="@Model[i].name" /></td>
        <td><input type="text" name="BlogLinks[@i].url" value="@Model[i].url"/>
        </td>
            </tr>
        }

    }
    else{
    <tr>
        <td><input type="text" name="BlogLinks[0].name"placeholder="选填" /></td>
        <td><input type="text" name="BlogLinks[0].url" id="BlogLinks_url" />
        </td>
    </tr>
    }
</tbody>
</table>
</div>
<script>
    var counter = 1 + @(i>0 ? i-1 : 0) ;
    var debugresult;
    $(function () {
        if (counter == 1)
            $("#removeButton i").addClass("icon-white");

        $("#addButton").click(function () {
            addRow("","");
        });
        function addRow(name,url){
            var newTextBoxRow = $(document.createElement('tr'))
                 .attr("id", 'TextBoxRow' + counter);
            newTextBoxRow.append('<td>' +
                  '<input type="text" name="BlogLinks[' + counter + '].name" value="'+name+'" >' +
                  '</td><td>' +
                  '<input type="text" name="BlogLinks[' + counter + '].url" value="'+url+'" ></td>'
                  );
            newTextBoxRow.appendTo("#TextBoxesGroup");
            if (counter == 1)
                $("#removeButton i").removeClass("icon-white");
            counter++;

            $('input[name^="BlogLinks"][name$="url"]').change(autofillname);
        }

        $("#removeButton").click(function () {
            if (counter == 1) {
                return false;
            }
            counter--;
            $("#TextBoxRow" + counter).remove();
            if (counter == 1)
                $("#removeButton i").addClass("icon-white");
        });

        $('#btfile').change(function (event) {
            var file = $(this).val();
            if(file){
                var size = this.files[0].size;
                if(size > 524288 * 2){
                    alert("文件不得超过1MB");
                }
                else{
                    var reader = new FileReader();
                    reader.onloadend = function () {
                        $.post('@Url.Action("GetMagnet")',{ data: reader.result.split(',')[1]}, getMagnet, "text");
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            }
            $(this).val('');
        });
        $('input[name^="BlogLinks"][name$="url"]').change(autofillname);
        function autofillname() {
            var input = $(this).val();
            var name = $(this).parent().parent().find('input[name$="name"]');
            if(input && !name.val()){
                if(input.indexOf("magnet") >= 0){
                    name.val('磁力链');
                }
                else if(input.indexOf("baidu") >= 0){
                    name.val('度娘');
                }
                else if(input.indexOf("jbpan") >= 0){
                    name.val('菊爆盘');
                }
                else if(input.indexOf("xunlei") >= 0){
                    name.val('快船');
                }
                else if(input.indexOf("howfile") >= 0){
                    name.val('好盘');
                }
                else if(input.indexOf("yunpan") >= 0){
                    name.val('360盘');
                }
            }
        }
        function getMagnet(result){
            if(!result){
                alert("无效的种子文件！");
            }
            result = JSON.parse(result);
            debugresult = result;
            var inputs = $('input[name^="BlogLinks"][name$="url"]');
            var added = false;
            for(var i=0;i<inputs.length;i++){
                if(!inputs[i].value){
                    inputs[i].value = result;
                    $('input[name^="BlogLinks"][name$="name"]')[i].value = "磁力链";
                    added=true;
                    break;
                }
            }
            if(!added){
                addRow("磁力链",result);
            }
        }
    });
</script>