﻿@model MyMVCWeb.Models.BlogEdit

@{
    ViewBag.Title = "投稿";
}

<h2>新增条目</h2>

@if(!User.IsInRole("Administrator") && !User.IsInRole("Moderator") && !User.IsInRole("Writer")){
<span class="label label-important" style="font-size: 20px;line-height:25px">为保证您的投稿能顺利通过审核，投稿前请先阅读&nbsp;</span><a target="_blank" style="margin-bottom: 5px" class="btn btn-primary" href="@Url.Action("About","Home")#aboutcontri">投稿须知</a>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id="createform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<table style="width:100%">
    <colgroup>
        <col style="width:40px;"/>
        <col style="width:91%" />
    </colgroup>
    <tbody>
        <tr>
            <td><label for="CategoryID">分类</label></td>
            <td>
            @Html.DropDownListFor(m => m.CategoryID, ViewBag.CategoryList as SelectList)
            </td>
        </tr>
        <tr>
            <td>
            @Html.LabelFor(model => model.BlogTitle)
            </td>
            <td>
            @Html.TextBoxFor(model => model.BlogTitle, new { maxlength=80, @class="input-block-level"})
            @Html.ValidationMessageFor(model => model.BlogTitle)
            </td>
        </tr>

        <tr>
        <td colspan="2">
            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
        </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding-top: 1em;">
                <label for="BlogLinks.url">密码<span id="passhelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                @Html.Partial("BlogPassword",Model == null ? null : Model.BlogPasswords, new ViewDataDictionary())
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding-top: 1em;">
                <label for="BlogLinks.url">链接<span id="linkhelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                @Html.Partial("BlogLinkPartial",Model == null ? null : Model.BlogLinks, new ViewDataDictionary())
            </td>
        </tr>
        <tr>
            <td colspan="2">     
                <div class="uploaddiv">
                <span id="filehelp" class="icon-question-sign"></span>
                <div id="upload_resizable" style="overflow:hidden;position:relative;border:1px solid;display:block; height:95px;">
                <label class="uploadtext">添加预览图(最多4张，每张最大4MB，第一张为主预览图):</label>
                <hr style="margin:6px 0;" />
                <div class="upinputdiv">
                    @{int j = 0;
                      for (j = 0; j < 4; j++)
                      {
                        <div class="upinput">
                        <input type="file" ID="BlogImage@(j)" name="files"/><a class="hide" title="删除" onclick="removeup(@j)"><i class="icon-remove-sign"></i></a> <a class="hide" style="top:25px;" title="嵌入文中" onclick="insertAttach(@j);"><i class="icon-picture"></i></a>
                        </div>
                      }

                    }
                </div>
                <div id='resize_handle' class="ui-resizable-handle ui-resizable-s draghandle"></div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="BlogTags">标签<span id="taghelp" class="icon-question-sign"></span></label>
            </td>
            <td>
                @Html.EditorFor(m => m.BlogTags)
            </td>
        </tr>
    </tbody>
</table>
    @Html.Partial("_Captcha")
    <p>
            <input type="submit" autocomplete="off" class="btn btn-primary" data-loading-text="提交中" id="submitbtn" value="提交" /> <img src="~/Images/Loading2.gif" id="loadinggif" style="display:none;"/>
        @Html.ActionLink("取消", "List", null, new { @class = "btn", style = "margin-top: 5px;" })
        <strong id="filemsg" class="text-error hide">上传文件不得超过4MB</strong>
    </p>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
}

@section end_scripts {
    
    <script src="~/Scripts/cookie.js"></script>
    <script src="~/ckeditor/ckeditor.js" charset="gbk"></script>
    <link href="../Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script>
        var isvalid=true;
        $(function () {
            $("#upload_resizable").resizable({
                maxHeight: 260, minHeight: 95, handles: { 's': '#resize_handle' },
                stop: function (event, ui) { $(this).css("width", ''); }
            });
            $('#passhelp').tooltip({ title: "请将资源的密码（如果有）填写在下方的密码框中，如果在网盘设定了提取码也请将提取码填写在新的密码框中（左边密码描述框请填写“提取码”）", placement: 'top' });
            $('#filehelp').tooltip({title:"firefox和chrome可以直接将本地图片拖到上传框中，IE不支持此功能。图片将被转换为JPG，如有特殊需求请使用外链。",placement:'bottom'});
            $('#taghelp').tooltip({title:"为你的项目添加标签，有助于他人进行搜索。多个标签请用逗号、句号、分号、顿号或是空格来分隔。最多5个，每个最长20字符"});
            $('#linkhelp').tooltip({title:"请在此处添加你的资源的链接，便于管理与补档。"}); 
            $('input[name="files"]').tooltip({title:"文件会在提交时上传",placement:'right'});
            //$('#weibohelp').tooltip({ title: "右键点击图片后选择“复制图像”，在正文编辑器内Ctrl+V即可。" });

            $('input[name="files"]').change(function (event){
                if(event.target.files){
                    $(this).siblings('a').show();
                }
                else{
                    $(this).siblings('a').hide();
                }
                if(event.target.files && event.target.files[0].size >= 4096 * 1024){ // 4MB
                    $('#filemsg').show();
                    isvalid = false;
                }
                else{
                    $('#filemsg').hide();
                    isvalid = true;
                }
            });
            $('#createform').submit(function(event){
                if ($(this).valid() && isvalid) {
                    $('#submitbtn').button('loading');
                    $('#loadinggif').show();
                }
                else{
                    event.preventDefault();
                }
                setCookie("c", $('#CategoryID').val());
                CKEDITOR.instances.Content.setMode('wysiwyg');
            });
            $('#CategoryID').val(getCookie("c"));
            
        });
        
        function removeup(id) {
            var elem = $('#BlogImage' + id)
            elem.val('');
            elem.siblings('a').hide();
        }
        function insertAttach(id) {
            var editor = CKEDITOR.instances.Content;
            var upload = document.getElementById('BlogImage' + id);
            if (upload.value.length < 1)
                return;
            editor.setMode('wysiwyg');
            editor.insertHtml('[img'+id+']');
        }
        function imgvalidate(source, arguments) {
            var editor = CKEDITOR.instances.Content;
            var celement = $(editor.getData());
            var imgelement = celement.find('img').first().attr('src');
            alert(imgelement);
            if (imgelement && imgelement.width != 0) {
                alert(imgelement);
                arguments.IsValid = true;
            }
            else if (arguments.value.length != 0) {
                alert(arguments.value);
                arguments.IsValid = true;
            }
            else
                arguments.IsValid = false;
        }
        var btnclicked = false;

    </script>
}
