﻿@model MyMVCWeb.Models.BlogDisplay

@{
    Blog blog = Model.blog;
    ViewBag.Title = blog.BlogTitle;
    ViewBag.Description = string.Empty;
    string picurl;
    if (blog.isLocalImg)
    {
        picurl = "http://" + HttpContext.Current.Request.Url.Host + "/Images/thumbs/" + BlogUtil.firstImgPath(blog.ImagePath);
    }
    else
    {
        picurl = BlogUtil.firstImgPath(blog.ImagePath);
    }
}

@section featured
{

<div id="blog" class="detaillayout">
            <h2>@blog.BlogTitle 
                @if (blog.isApproved == false)
                {
                    <text>(未通过）</text>
                }
                else if(blog.isApproved == null)
                {
                    <text>(待审批）</text>
                }
            </h2>
            <br />
                <i class="icon-list"></i> 分类：<a class="badge badge-info" href="@Url.Action("List", "Blog", new { id = blog.CategoryID })">@BlogUtil.categoryName(blog.CategoryID)</a>
            <hr />
            <span style="font-size:small"><a href="@Url.Action("UserInfo","Home",new {name = blog.Author})"><i class="icon-user"></i>@blog.Author</a> 于 @blog.BlogDate 发布 
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-eye-open"></i> <span style="color: #808080">@(blog.BlogVisit)</span> 次浏览&nbsp;&nbsp;&nbsp;&nbsp;
                @if (User.Identity.IsAuthenticated)
                {<a href="#rptModal" class="btn btn-small" style="margin-bottom: 5px" onclick="rptBlog()" data-toggle="modal">汇报问题</a> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>}
                @if (User.Identity.IsAuthenticated && (string.Equals(User.Identity.Name, blog.Author, StringComparison.OrdinalIgnoreCase) || Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("Moderator")))
                {
                    @Html.ActionLink("编辑", "Edit", new { id = blog.BlogID });
                    if (string.Equals(User.Identity.Name, blog.Author, StringComparison.OrdinalIgnoreCase))
                    {
                    <a id="dellink" onclick="delclick('@blog.BlogID');">删除</a>
                    <script>
                        function delclick(id) {
                            if (confirm("确认删除？")) {
                                $.post('@Url.Action("Delete")', { BlogId: id }, redir);
                            }
                        }
                    </script>
                    }
                    else{
                        <a href="#delModal" data-toggle="modal">删除</a>
                    }
                }
                
            </span><hr />
            @if (blog.isLocalImg)
            {
                <div id="imgdiv0">
            <a style="text-decoration:none;" href="@Url.Action("Index", "Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(blog.ImagePath) })" rel="lightbox[g]">
                <img class="uimg" src="@Url.Action("Index", "Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(blog.ImagePath) }) " alt="@blog.BlogTitle" />
            </a>
            <br /><br /></div>
                @Html.Raw(BlogUtil.getRestImgTags(blog.ImagePath, true))<br /><br />
            }
            <div id="blogcontent" style="width:100%;overflow:hidden;">
                @if (blog.isLocalImg)
                {
                    @Html.Raw(BlogUtil.replaceImgPlaceholder(blog.Content, blog.ImagePath))
                }
                else
                {
                    @Html.Raw(blog.Content)
                }
            </div>
            @{ BlogLink[] links = BlogUtil.getBlogLink(blog.Links);
               if (links != null && links.Length > 0 && !(links.Length == 1 && links[0].url == null))
               {
                   <h4>链接：</h4>
                   <dl>
                    @foreach (var link in links)
                    {
                        if (string.IsNullOrEmpty(link.url))
                        {
                            continue;
                        }
                        if (string.IsNullOrEmpty(link.name))
                        {
                            <dd><a class="btn btn-info btn-large" rel="nofollow" target="_blank" href="@link.url">下载</a></dd>
                        }
                        else
                        {
                            <dd><a class="btn btn-info btn-large" rel="nofollow" target="_blank" href="@link.url">@link.name</a></dd>
                        }
                    }
                    </dl>
               }
            }
            <br />
    <div>
        <i class="icon-tags"></i><span> 标签：</span>
        <div style="display:inline;" id="tags">
        @foreach (var tag in Model.tag)
        {
            <a class="label label-info" href="@Url.Action("Tags", "Search", new { id = tag.TagID })">@(tag.TagName)</a>
            Html.Raw(" ");
        }
        </div>
        @if (User.Identity.IsAuthenticated && Model.tag.Count() < 10)
        {
        <div style="float:right;" id="newtag">
            <a class="btn btn-small" onclick="addNewTag();">增加新标签</a>
            <div class="input-append hide">
              <input class="span2" style="margin:0" maxlength="20" type="text">
              <button class="btn" type="button" onclick="submitNewTag(this,@blog.BlogID);">提交</button>
            </div>
        </div>
        }
    </div>
    @if (blog.isApproved == true)
    {
    <h3>请评分：</h3>
    <br />
    <table id="rating">
        <tr>
            <td ><a class="rate1" onclick="rateclick(1);return false;">卧槽瞎一脸</a></td>
            <td ><a class="rate2" onclick="rateclick(2);return false;">这玩意能看？</a></td>
            <td ><a class="rate3" onclick="rateclick(3);return false;">一般吧</a></td>
            <td ><a class="rate4" onclick="rateclick(4);return false;">还不错</a></td>
            <td ><a class="rate5" onclick="rateclick(5);return false;">好顶赞！</a></td>
        </tr>
        <tr>
            <td colspan="5">当前得分：<strong id="currentrating" >@BlogUtil.getRating(@blog.BlogID)</strong></td>
        </tr>
    </table>
    <h4 style="display:none" id="ratingmsg"></h4>
        <br />
        <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style" style="margin-top:1em;">
	    <span class="jiathis_txt">分享到：</span>
	    <a class="jiathis_button_tools_1"></a>
	    <a class="jiathis_button_tools_2"></a>
	    <a class="jiathis_button_tools_3"></a>
	    <a class="jiathis_button_tools_4"></a>
	    <a rel="nofollow" href="http://www.jiathis.com/share?uid=1826445" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	    <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
        var jiathis_config = { data_track_clickback: 'true', pic: '@picurl'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1347077965629870" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    }
    else if (blog.isApproved == false)
    {
        <table><tr>
            <td rowspan="2"><img src="~/Images/ng.png" style="max-height:150px" /></td>
            <td>
                <h2>投稿审核不通过</h2><br />
            </td>
            </tr>
            <tr><td>
                <label style="cursor:default;">这个投稿未通过审核，请作者参照消息进行修改，修改完成后将重新参与审核。</label>
            </td></tr>

    </table>
    }
    else
    {
    <table><tr>
            <td rowspan="2"><img src="~/Images/warn.png" style="max-height:150px" /></td>
            <td>
                <h2>投稿尚未被审核</h2><br />
            </td>
            </tr>
            <tr><td>
                <label style="cursor:default;">你可以对其进行评论。但是它不会显示在主页或其他列表中，也不能参与评分。</label>
            </td></tr>

    </table>
    }
</div>
}

@Html.Action("Index", "Advertisment")

<hr />


<div id="replydiv">
@if (blog.posts.Count > 0)
{
        @Html.Action("ShowReply", "Reply", new { itemid = blog.BlogID, idtype = "1" })  
}
else
{
    <h3>暂无评论。</h3>
}
</div>
<div style="border-style: groove; border-color:chocolate; border-width: medium; border-radius:5px; width:100%; padding:5px; margin-top:1.2em;">
@if (Request.IsAuthenticated)
{
    
    <table border="1" style="width:100%; margin-left: .25em;">
                <colgroup>
                   <col span="1" style="width: 100px;"/>
                   <col span="1" />
                </colgroup>
                <tr>
                    <td rowspan="2" style="vertical-align:top;text-align:center;"><img src="@Url.Action("Show", "Avatar")" style="max-height:100px;max-width:100px;" /></td>
                    <td style="text-align:left">添加回复：</td>
                </tr>
                <tr>
                    <td id="addreply_container" >
                        @(Html.Partial("AddReply"))
                    </td>
                </tr>
            </table>
    <div id="rptModal" class="modal hide fade" tabindex="-1" role="dialog" style="background-color:white;">
    @using (Html.BeginForm("Report", "Blog", FormMethod.Post, new { style = "margin:0;" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>汇报问题</h3>
        </div>
        <div class="modal-body">
            <h3>原因：</h3>
        <textarea name="MsgContent" id="MsgContent" style="width:95%;height:160px;resize:none;"></textarea>
        </div><div class="modal-footer">
        <button class="btn" data-dismiss="modal">关闭</button>
        <input type="submit" value="汇报" class="btn btn-inverse" style="margin:0;"/>
        <input type="hidden" name="blogid" id="rptblogid" value="@Model.blog.BlogID"/>
        <input type="hidden" name="postid" id="rptpostid"/>
            <input type="hidden" name="pagenum" id="pagenum" value="" />
        </div>
    }
    </div>
    if (Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("Moderator"))
    {
        <div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" style="background-color:white;">
        @using (Html.BeginForm("Delete", "Blog", new { id = blog.BlogID }, FormMethod.Get, new { style="margin:0" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>删除通知</h3></div>
            <div class="modal-body">
            <textarea name="MsgContent" id="delMsgContent" style="width:95%;height:160px;resize:none;"></textarea>
            </div>
            <div class="modal-footer">
            <input type="submit" value="确认" class="btn btn-inverse"/> <label class="checkbox inline"><input type="checkbox" name="sendmsg" value="true" checked/>发送通知</label>
            </div>
        }
        </div>
    }
}
else
{
    <b>请登录后发表评论</b>
    @Html.ActionLink("注册", "Register", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
    @Html.ActionLink("登录", "Login", "Account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "btn" })
    
}
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
}
@section end_scripts{
    <script src="~/Scripts/Expansion.js"></script>
    <script src="~/Scripts/detailScripts.js"></script>
    <script src="~/Scripts/lightbox-2.6.min.js"></script>
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <script>
        $(function () {
            var content = '@(blog.isLocalImg ? BlogUtil.findImgPlaceholder(blog.Content) : "")' ;
            var i = 0;
            for (i=0;i<4;i++){
                if(content.indexOf("[img"+i+"]") >= 0){
                    $("#imgdiv" + i).hide();
                }
            }
            $('#lightbox').draggable();

            $('#blogcontent .label').hover(function () {
                selectText(this);
            });
        });    
        var rated = false;
        function rateclick(value) {
            if (rated) {
                return false;
            }
            rated = true;
            var blogid = '@blog.BlogID';
            $.post('@Url.Action("Rate")', { blogid: blogid, rating: value }, ratesuccess);

        }
    </script>
    @if (User.Identity.IsAuthenticated)
    {
    <script src="~/ckeditor/ckeditor.js" charset="gb2312"></script>
    <script>
        var replyeditor;
        function replaceeditor() {
            replyeditor = CKEDITOR.replace('addreplycontent', {
                toolbar: [
                                    ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink', ], ['Custom_Smiley', 'Image'],
                                    ['TextColor', 'BGColor', 'Styles']], uiColor: '#019ed5'
            });
        }
        $(function () {
            replaceeditor();
            
        });
        //$('#SubmitReply').button({ 'loading-text': "提交中" });
        function redirectpost(result) {
            if (result.redirect) {
                window.location.href = '@Request.RawUrl' + result.redirect;
                window.location.reload();
            }
            else {
                $('#addreply_container').html(result);
            }
        }
        var btnclicked = false;
        function submitreply() {
            //document.getElementById('AddReplyForm').submit();
            var data = replyeditor.getData();
            var captcha = $('input[name="Captcha"]').val();
            var prefix = $('input[name="Prefix"]').val();
            if (btnclicked || data == '')
                return false;
            btnclicked = true;
            $('#SubmitReply').button("loading");
            $("#loading").show();
            $.post('@Url.Action("AddReply", "Reply")', { itemid: '@Model.blog.BlogID', addreplycontent: data, Captcha: captcha, Prefix: prefix },
                redirectpost).complete(oncomplete);
        }
        function oncomplete() {
            btnclicked = false;
            $('#SubmitReply').button("reset");
            $("#loading").hide();
            replaceeditor();
        }

        function rptReply(id) {
            $("#rptpostid").val(id);
            $("#pagenum").val($("#curpagenum").val());
        }
        function rptBlog() {
            $("#rptpostid").val(null);
        }

        function addNewTag() {
            $("#newtag>div").removeClass("hide");
            $("#newtag>a").addClass("hide");
        }
        function submitNewTag(ele, id) {
            var tag = $(ele).siblings('input').val();
            if (tag) {
                $.post("@Url.Action("AddTag")", { name: tag, blogid:id }, partial(updateTag, tag));
            }
        }
        var debugresult;
        function updateTag(tag, result) {
            debugresult = result;
            if (result.errmsg) {
                alert(result.errmsg);
            }
            else {
                $(document.createElement('a'))
                 .attr({
                     "href": '@Url.Action("Tags", "Search")/' + result.tagid,
                     "class": 'label label-info'
                 }).text(tag).appendTo('#tags');
                $('#tags').append('&nbsp;');
                if ($('#tags>a').length >= 10) {
                    $('#newtag').remove();
                }
                else {
                    $("#newtag>a").removeClass("hide");
                    $("#newtag>div").addClass("hide");
                }
            }
        }
        
        function delreply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeletePost", "Reply")', { PostId: id }, partial(hidepost, id));
            }
        }
        function delPostReply(id) {
            if (confirm("确认删除？")) {
                $.post('@Url.Action("DeleteReply", "Reply")', { ReplyId: id }, partial(hidereply, id));
            }
        }
        function redir() {
            window.location = "@Url.Action("List", "Blog", new { id = "" })";
        }
    </script>
   
    }


    <script type="text/javascript">
        var wumiiPermaLink = "@Request.Url.GetLeftPart(UriPartial.Path)";
        var wumiiTitle = "@blog.BlogTitle";
        var wumiiTags = "@string.Join(",", BlogUtil.GetTagNamesInBlog(blog.BlogID))";
        var wumiiCategories = ["@BlogUtil.categoryName(blog.CategoryID)"];
        var wumiiSitePrefix = "http://gmgard.us/";
        var wumiiParams = "&num=5&mode=2&pf=JAVASCRIPT";
    </script>
    <script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
    <a rel="nofollow" href="http://www.wumii.com/widget/relatedItems" style="border:0;">
        <img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
    </a>
}