﻿@model MyMVCWeb.Models.BlogEdit

@{
    ViewBag.Title = "文章编辑";
    int id = ViewBag.id;
}

@section featured{

<h2>编辑模式</h2>
<hr />
    @Html.ValidationSummary()
@using (Html.BeginForm("Edit", "Blog", new { id = id }, FormMethod.Post, new {id="editform", enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<Label for="CategoryID">类别：</Label>
@Html.DropDownListFor(m => m.CategoryID, ViewBag.CategoryList as SelectList)
<Label for="BlogTitle">标题：</Label>
@Html.TextBoxFor(m => m.BlogTitle, new { maxlength = 80, @class="input-block-level" })

    <br />
    if (Model.islocalimg)
    {
    <div id="herodiv" class="editthumbs">
        <a class="del" title="删除" onclick="del(0);" ></a>
        <img id="heroimg" src="@Url.Action("Index","Upload", new { img = MyMVCWeb.Models.BlogUtil.firstImgPath(Model.ImagePath)})" alt="@Model.BlogTitle " style="max-height:300px;max-width:400px;" />
        <a class="ins" title="嵌入" onclick="insertAttach(0,false);"></a>
    </div><br />
    @Html.Raw(BlogUtil.getRestImgTags(Model.ImagePath, false))
    <br />
    }
<div id="upload_resizable" class="uploaddiv" style="overflow:hidden;position:relative;border:1px solid;display:inline-block;width:35em;margin:2em auto;white-space:nowrap;">
    <label class="uploadtext">添加预览图(最大4MB每张):</label>
    <hr />
    <div class="upinputdiv">
        <div class="upinput">
        <input type="file" id="file1" name="files" /><a class="hide" title="删除" onclick="removeup(0)"><i class="icon-remove-sign"></i></a> <a class="hide" style="top:25px;" title="嵌入文中" onclick="insertAttach(0 , true);"><i class="icon-picture"></i></a>
        </div>
        <div class="form-inline" style="display:inline-block;">
        <label class="checkbox"><input type="checkbox" class="CheckBox" id="checkbox1" name="checkbox1" value="true" />作为主预览图</label>
        </div><br />
    @for (int j = 2; j <= 4; j++)
    {
        <div class="upinput">
        <input type="file" id="file@(j)" tabindex="-1" name="files" /><a class="hide" title="删除" onclick="removeup(@(j-1))"><i class="icon-remove-sign"></i></a> <a class="hide" style="top:25px;" title="嵌入文中" onclick="insertAttach(@(j-1), true);"><i class="icon-picture"></i></a>
        </div><br />
    }
    </div>
</div>
    
    <input type="hidden" name="ImagePath" ID="HiddenField1"/>
    @Html.HiddenFor(m => m.islocalimg)
    <br />
    @Html.TextAreaFor(m => m.Content, new { @class="ckeditor", id ="EditBlogContent"})
    <br />
    <h3>追加密码</h3>
    @Html.Partial("BlogPassword",Model.BlogPasswords, new ViewDataDictionary())

    <h3>链接</h3>
    @Html.Partial("BlogLinkPartial",Model.BlogLinks, new ViewDataDictionary())

    <h3>标签</h3>

    @Html.EditorFor(m => m.BlogTags)

    <Label ID="Label1" class="validation-summary-errors"></Label>
    <br />
    <input type="submit" ID="SubmitButton" data-loading-text="提交中..." autocomplete="off" value="提交" OnClick="startsubmit(this.id);submitimgs();" class="btn btn-primary" />
    <img src="~/Images/Loading2.gif" id="loadinggif" style="display:none;"/>
    <input type="button" ID="Cancel" value="取消" OnClick="redir();" class="btn" />
    <br />

}

}

@section end_scripts{
    <script src="~/Scripts/Expansion.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var str = '@Model.ImagePath';
        var hasimg = '@(Model.islocalimg ? 1 : 0)';
        var imglist = hasimg == 1 ? str.split(";") : [];
        var basepath = '/Upload/';
        var imgcount = imglist.length;
        var linehigh = 52; var hidden;
        var isvalid = true;
        $(document).ready((function () {
            var resize = $("#upload_resizable");
            if (imgcount >= 0 && imgcount < 4) {
                resize.height((4 - imgcount + 1) * linehigh);
                if (imgcount == 0)
                    $("#checkbox1").attr('disabled', 'disabled');
            }
            else {
                resize.hide();
            }
            $('#editform').submit(function(){
                if($(this).valid() && isvalid){
                    $('#SubmitButton').button('loading');
                    $('#loadinggif').show();
                    submitimgs();
                }
            });
            $('input[name="files"]').change(function (event) {
                if (event.target.files) {
                    $(this).siblings('a').show();
                }
                else {
                    $(this).siblings('a').hide();
                }
                if (event.target.files && event.target.files[0].size >= 4096 * 1024) { // 4MB
                    $('#filemsg').show();
                    isvalid = false;
                }
                else {
                    $('#filemsg').hide();
                    isvalid = true;
                }
            });
            hidden = document.getElementById("HiddenField1");
        }));
        function removeup(id) {
            id++;
            var elem = $('#file' + id)
            elem.val('');
            elem.siblings('a').hide();
        }
        function set(pos) {
            var hero = document.getElementById('heroimg');
            var thumb = document.getElementById('thumb' + pos);
            var tmp = imglist[0];
            imglist[0] = imglist[pos];
            imglist[pos] = tmp;
            hero.setAttribute('src', basepath + imglist[0]);
            thumb.setAttribute('src', basepath + imglist[pos]);
            var editor = CKEDITOR.instances.EditBlogContent;
            var data = editor.getData();
            data = data.ReplaceAll("[img" + pos + "]", "[imgtmp]");
            data = data.ReplaceAll("[img0]", "[img" + pos + "]");
            editor.setData(data.ReplaceAll("[imgtmp]", "[img0]"));
            return false;
        }
        function del(pos) {
            //if (pos >= imgcount){
            //    return false;
            //}
            var editor = CKEDITOR.instances.EditBlogContent;
            var data = editor.getData();
            if(data.indexOf("[img" + pos + "]") >= 0 ){
                data = data.ReplaceAll("[img" + pos + "]", "");
                var i = pos;
                for (++i; i < 4; i++) {
                    data = data.ReplaceAll("[img" + i + "]", "[img" + (i - 1) + "]");
                }
                editor.setData(data.toString());
            }
            var resize = $("#upload_resizable");
            resize.show();
            if (imgcount == 1) {
                imglist = null;
                var thumb = document.getElementById('herodiv');
                thumb.style.display = 'none';
                imgcount = 0;
                $("#checkbox1").attr('disabled', 'disabled');
                resize.height((4 - imgcount + 1) * linehigh);
                return false;
            }
            if (pos == 0) {
                var a = 1;
                for (a = 1; a < imglist.length ; a++) {
                    if (imglist[a] != null)
                        break;
                }
                imglist[0] = imglist[a];
                var hero = document.getElementById('heroimg');
                hero.setAttribute('src', basepath + imglist[0]);
                pos = a;
            }
            imglist[pos] = null;
            $('#imgdiv' + pos).hide();
            imgcount--;
            resize.height((4 - imgcount + 1) * linehigh);
            return false;
        }
        function submitimgs() {
            var editor = CKEDITOR.instances.EditBlogContent;
            editor.setMode('wysiwyg');
            if (imglist) {
                if (imgcount == 0)
                    hidden.value = '';
                else {
                    var i = 0;
                    var b = Array();
                    for (i = 0; i < imglist.length; i++) {
                        if (imglist[i] != null)
                            b.push(imglist[i]);

                    }
                    hidden.value = b.join(';');
                }
            }
            else
                hidden.value = "";
        }
        function insertAttach(id, isnew) {
            var tag = isnew ? "nimg" : "img";
            if (isnew) {
                var upload = document.getElementById('file' + (id + 1));
                if (upload.value.length < 1)
                    return;
            }
            var editor = CKEDITOR.instances.EditBlogContent;
            editor.insertHtml('[' + tag + id + ']');
        }
        function redir(){
            window.location='@Url.Action("Details",new {id = id})';
        }
</script>
}
