﻿@model PagedList.IPagedList< MyMVCWeb.Models.Message>

@using (Html.BeginForm("MultiAct", "Message", new { pos = "inbox" }))
{
<table style="background-color:white;width:100%;table-layout:fixed;">
        <colgroup>
            <col style="width:5%;overflow:hidden;"/>
            <col style="width:15%;overflow:hidden;"/>
            <col style="width:40%;overflow:hidden;"/>
            <col style="width:40%;overflow:hidden;"/>
        </colgroup>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <tr><td colspan="4">没有消息。</td></tr>
            }
            else
            {
                <tr class="well"><td style="text-align:center;"><input type="checkbox" id="allop" onchange="checkall(this);" /></td>
                    <td colspan="3">
                        <div class="btn-toolbar">
                          <div class="btn-group">
                              <input type="submit" name="action" value="删除所选" class="btn " />
                              <input type="submit" name="action" value="删除全部" onclick="return confirm('确认删除所有消息？')" class="btn " />
                              <input type="submit" name="action" value="标记已读" class="btn " />
                              <input type="submit" name="action" value="全标已读" class="btn " />
                          </div>
                        </div>
                    </td>
                </tr>
                    foreach (var Item in Model)
                    {
                <tr class="msglist-item" >
                    <td><label style="margin:0;text-align:center;"><input type="checkbox" name="op" value="@Item.MsgId" style="margin:0;"/></label></td>
                    <td onclick="readmsg(@Item.MsgId);">
                    @Item.Sender
                    </td>
                    <td onclick="readmsg(@Item.MsgId);">
                    <p id="msg@(Item.MsgId)" style="font-weight:@(Item.IsRead ? "inherit" : "bold")">@(Item.MsgTitle == null ? "无标题" : (Item.MsgTitle.Length > 0 ? Item.MsgTitle : "无标题"))</p>
                    </td>
                    <td onclick="readmsg(@Item.MsgId);">
                    <div class="msgtime">
                        发送日期： @Item.MsgDate &nbsp;&nbsp; 
                    </div>
                    </td>
                </tr>
                    }
            }
        </tbody>
    </table>
}
@if (Model.HasNextPage || Model.HasPreviousPage)
{
    ViewBag.PostUrl = Url.Action("Inbox");
    Html.RenderPartial("_AjaxPager");
}
<script>
    updateval( @ViewBag.UnreadCount );
</script>