﻿@{
    ViewBag.Title = "消息中心";
    string context = ViewBag.DisplayTab;
}

@*<h2>消息中心</h2>*@
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" style="text-decoration: none;cursor:default;">消息中心</a>
    <ul class="nav" id="msgmenu">
    <li @if(context == null || context == "inbox"){ <text>class="active"</text>}><a onclick="selected(this,'@Url.Action("Inbox")');"><img src="~/images/inbox.png"> 收件箱<b id="UnreadCount"></b></a></li>
    <li @if(context == "outbox"){ <text>class="active"</text>}><a onclick="selected(this,'@Url.Action("Outbox")');"><img src="~/images/outbox.png"> 发件箱</a></li>
    <li @if(context == "write"){ <text>class="active"</text>}><a onclick="selected(this,'@Url.Action("Write")');"><img src="~/images/write.png"> 写消息</a></li>
    </ul>
    </div>
    </div>

<div class="tabcontent">
    <div id="multiview">
        @if (context == "outbox")
        {
            @Html.Action("Outbox")
        }
        else if (context == "write")
        {
            @Html.Action("Write")
        }
        else{
            @Html.Action("Inbox")
        }
    </div>
    <img id="loading" src="~/Images/loading.gif" style="display:none;margin:0 auto 100px auto;" />
</div>
<div id="popupdiv" class="popupdiv pseudos modal hide fade" role="dialog" style="display:none;">
        <div class="modal-header">
            <a data-dismiss="modal" class="close icon-remove-sign"></a>
            <h3 id="popuptitle"></h3>
            <h4 id="popuptime" style="float:right;"></h4>
            <h4 id="popupsubtitle"></h4>
        @using (Html.BeginForm("MsgAction", "Message", FormMethod.Post, new { style = "margin:0;text-align:right;" }))
        {
            <input type="hidden" id="msgid" name="msgid"/>
            <input class="btn btn-small" type="submit" id="DelButton" name="action" value="删除" />
            <input class="btn btn-small" type="submit" ID="ReplyButton" name="action" value="回复" />
            <input class="btn btn-small" type="submit" ID="ForwardButton" name="action" value="转发" />
        }

        </div>
        
        <div id="popupcontent" class="modal-body"></div>

    </div>
@section scripts{
    @Scripts.Render("~/Scripts/Expansion.js")

    <script>
        function selected(obj, posturl) {
            if (obj.parentElement.className == "active")
                return;
            //alert(obj);
            var ullist = document.getElementById('msgmenu');
            var lilist = ullist.getElementsByTagName('li');
            for (i = 0; i < lilist.length; i++) {
                lilist[i].className = "";
            }
            obj.parentElement.className = "active";

            $.get(posturl, null, displayview);
            $("#multiview").hide();
            $("#loading").css('display', 'block');
        }
        function displayview(response) {
            //alert(response);
            data = response;
            $("#multiview").html(response);
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            if ($.validator) {
                $.validator.unobtrusive.parse('form');
            }
            $("#multiview").show();
            $("#loading").hide();
        }
        function updateval(value) {
            if (value) {
                $('#UnreadCount').text("（"+ value + "条未读）");
            }
        }

        function readmsg(id) {
            var msgtitle = document.getElementById('msg' + id);
            if (msgtitle.style.fontWeight != 'inherit') {
                msgtitle.style.fontWeight = 'inherit';       
            }
            $.post('@Url.Action("ReadMsg")', { id: id }, onSuccess);
        }
        function getmsg(id) {
            $.post('@Url.Action("GetMsg")', { id: id }, showMsg);
        }
        var debugmessage;
        function onSuccess(message) {
            var label = document.getElementById('UnreadCount');
            if (message.unreadcount > 0)
                label.innerText = "（" + message.unreadcount + "条未读）";
            else
                label.innerText = "";
            showMsg(message);
        }
        function showMsg(message) {
            debugmessage = message;
            var hastitle = false;
            if (message.MsgTitle && message.MsgTitle.length > 0)
                hastitle = true;
            $("#popuptitle").text(hastitle ? message.MsgTitle : "无标题");
            $("#popupsubtitle").html("发件人：<a href='/User/" + message.Sender + "'>" + message.Sender + "</a>  收件人：<a href='/User/" + message.Recipient + "'>" + message.Recipient + "</a>");
            var date = new Date(parseInt(message.MsgDate.replace("/Date(", "").replace(")/", ""), 10));
            $("#popuptime").text(date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + ("00" + date.getHours()).slice(-2) + ':' + ("00" + date.getMinutes()).slice(-2) + ':' + ("00" + date.getSeconds()).slice(-2));
            $("#popupcontent").html(message.MsgContent.ReplaceAll("\n","<br />").toString());
            $("#msgid").val(message.MsgId);
            $('#popupdiv').modal("show");
        }
        function checkall(ele) {
            $('input[name=op]').attr('checked', ele.checked);
        }
    </script>
}