﻿@model Message

@using (Ajax.BeginForm("Write", "Message", new AjaxOptions { UpdateTargetId="multiview" }))
{
    @Html.AntiForgeryToken();
<text>
    @Html.TextBoxFor(m => m.Recipient, new { placeholder = "收件人", maxlength = "20" }) @Html.ValidationMessageFor(m => m.Recipient)<br />
    <input placeholder="标题" type="text" name="MsgTitle" id="MsgTitle" value="@Model.MsgTitle" maxlength="80"/> @Html.ValidationMessageFor(m => m.MsgTitle)<br />
    @Html.TextAreaFor(m => m.MsgContent, 10, 0, new { style = "width:95%;", placeholder = "正文" }) <br />
    <input type="hidden" name="Sender" value="@User.Identity.Name" />
    @Html.Partial("_Captcha")
    <input type="submit" class="btn btn-primary" data-loading-text="发送中" onclick="encode(); startsubmit(this);" value="发送" />@Html.ValidationMessageFor(m => m.MsgContent)<br />
    
</text>
}
<script>
    function encode(){
        var val = $('#MsgContent').val();
        val = val.ReplaceAll('<', '&lt;');
        val = val.ReplaceAll('>', '&gt;');
        $('#MsgContent').val(val);
        val = $('#MsgTitle').val();
        if (val) {
            val = val.ReplaceAll('<', '&lt;');
            val = val.ReplaceAll('>', '&gt;');
            $('#MsgTitle').val(val);
        }
    }
    function startsubmit(btn) {
        setTimeout(timeout, 5000, btn);
        $(btn).button('loading');
    }
    function timeout(btn) {
        $(btn).button('reset');
    }
    updateval(@BlogUtil.GetUnreadMsg(User.Identity.Name));
</script>