﻿@{
    ViewBag.Title = "搜索";
}
<style type="text/css">
    table
    {
        margin:0 !important;
    }
    .gsc-input,.gsc-input:active,.gsc-input:focus
    {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        margin-top: -10px !important;
    }
</style>
<div>
    <script>
        (function f() {
            var cx = '009703131030774855764:xp2vadzvftw';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div>
<div>
<script>
  
</script>
<gcse:searchresults-only></gcse:searchresults-only>
</div>