﻿@model MyMVCWeb.Models.SearchDisplay

        <li id="@Model.itemID" itemtype="@Model.itemType">
            @if (Model.itemType == 1)
            {
            <div class="badge">
                评分：@BlogUtil.getTotalRating(Model.itemID)
            </div>
            }
            else if(Model.itemType == 2){
            <div class="badge info">
                @TopicUtil.getBlogCount(Model.itemID) 资源
            </div>
            }
            <div class="icon">
                <div class="imgcenter">
                    @{string imgpath = Model.isLocalImage ? ("/Images/Thumbs/" + MyMVCWeb.Models.BlogUtil.firstImgPath(Model.Image)) : Model.Image;}
                    <img src="@imgpath"/>
                </div>
            </div>
            <div class="data">
                <h4>
                    @Model.Title
                </h4>
                <p style="word-break:keep-all"> @BlogUtil.getFirstLine(Model.Desc, 100, true),</p>
                <strong>投稿：@Model.Author</strong>
                <br />
                &nbsp;<span class="lfoot"><i class="icon-eye-open ico"></i> @Model.Visit</span><span class="lfoot"><i class="icon-comment ico"></i> @Model.Posts</span>
            </div>
        </li>