﻿@model PagedList.PagedList<SearchDisplay>

@{
    ViewBag.Title = "搜索标题";
    bool isDesc;
    string nextsort;
    string sortname = BlogUtil.getSortName(ViewBag.CurrentSort, out nextsort, out isDesc);
}
<div class="btn-toolbar listoption">
    <span class="label">排序</span>
    <div class="btn-group">
    <a class="btn btn-small" href="@Url.Action(null, new {name=ViewBag.name, sort = nextsort })">@sortname <i class="@if(isDesc){<text>icon-arrow-down</text>}else{<text>icon-arrow-up</text>}"></i></a>

    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action(null, new {name=ViewBag.name, sort = ViewBag.DateSortParm })">发布日期</a></li>
        <li><a href="@Url.Action(null, new {name=ViewBag.name, sort = ViewBag.PostSortParm })">最后评论</a></li>
        <li><a href="@Url.Action(null, new {name=ViewBag.name, sort = ViewBag.VisitSortParm })">浏 览 数</a></li>

    </ul>
    </div>
    <span class="label">查看</span>
    <div class="btn-group" data-toggle="buttons-radio">
        <button onclick="changeclass('one')" class="btn btn-small"><i class="icon-th-list"></i></button>
        <button onclick="changeclass('two')" class="btn btn-small"><i class="icon-th-large"></i></button>
        <button onclick="changeclass('three')" class="btn btn-small"><i class="icon-th"></i></button>
    </div>
</div>
<h2>搜索标题结果</h2>
@if (ViewBag.count != null)
{
    <span class="label">共有 @ViewBag.count 条</span><br />
}
<hr />

@if (Model.Count == 0)
{
    <p>找不到标题中包括关键字“@ViewBag.name”的资源。</p>
    <p>建议：</p>
    <ul>
        <li>请检查是否有错别字。</li>
        <li>请换不同的关键词进行尝试。</li>
        <li>请换较常用的关键词进行尝试。</li>
    </ul>
}
else
{
<ul class="listview image fluid">
    @foreach (var item in Model)
    {
        @Html.Partial("ListPartial", item);
    }    
</ul>
}
@if (Model.PageNumber == 1 && ViewBag.tagcount > 0)
{
    <div class="alert alert-info">
    <i class="icon-info-sign"></i><a href="@Url.Action("TagNames", new { name = ViewBag.name })">有 @ViewBag.tagcount 个标签含有此关键字。</a>
    </div>
}
@if (Model.HasNextPage || Model.HasPreviousPage)
{
    Html.RenderPartial("_SortPagerPartial", Model);
}
@section scripts{
    <script src="~/Scripts/cookie.js"></script>
    <script>
        $(function () {
            $('.listview li').click(function () {
                var type = this.getAttribute("itemtype");
                if (type == '1') {
                    window.open('@Url.Action("Details","Blog")' + this.id);
                }
                else if (type == '2') {
                    window.open('@Url.Action("Details","Topic")' + this.id);
                }
            });

            var option = getCookie("d");
            if (option) {
                if (option == "two") {
                    $('.btn-group button')[1].className += " active";
                    changeclass(option);
                }
                else if (option == "three") {
                    $('.btn-group button')[2].className += " active";
                    changeclass(option);
                }
                else {
                    $('.btn-group button')[0].className += " active";
                }
            }
            else {
                $('.btn-group button')[0].className += " active";
            }
        });

        function changeclass(classname){
            $('.listview').attr('class', 'listview image fluid ' + classname);
            setCookie('d', classname);
        }
        </script>
}