﻿@model MyMVCWeb.Models.LocalPasswordModel

<h3>更改密码</h3>

@if (ViewBag.Success != null)
{
    <span class="message-success">已设置您的密码</span>
}

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { OnFailure = "displayerror", OnComplete="endsubmit", UpdateTargetId = "changepassworddiv" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>“更改密码”表单</legend>
        <ol>
            <li>
                @Html.PasswordFor(m => m.OldPassword, new {placeholder="旧密码", style="width:95%"})
            </li>
            <li>
                @Html.PasswordFor(m => m.NewPassword, new {placeholder="新密码", style="width:95%" })
            </li>
            <li>
                @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder="确认密码", style="width:95%" })
            </li>
        </ol>
        <input type="submit" class="btn" value="更改密码" />
    </fieldset>
}
