﻿
<h2>更改头像</h2>
<hr />
<fieldset>
    <legend>修改头像</legend>

<img style="max-height:200px;max-width:200px;" src="@Url.Action("Show","Avatar")"/><br />
@if(ViewBag.ChangeSuccess != null){
    <span class="message-success">已更改您的头像</span><br />
}
<input type="file" id="avatar" name="avatar" data-val="true" data-val-required="请选择文件"/>
<input type="button" style="display:none;" id="submitbtn" value="提交" class="btn" onclick="submitfile(this)"/>
@Html.ValidationSummary()
<span id="imgerror" style="color:red;"></span><br />
    <a class="hide" title="清除选区" onclick="crop.release();"><i class="icon-remove-sign"></i></a>
    <img style="max-height:500px;max-width:500px;" id="newavatar" src="//:0" alt="" />
    
</fieldset>
<script>
    var data; var type; var crop;
    $(function () {
        $('#avatar').change(checkfile);
    });
    function checkfile(evt) {
        var file = evt.target.files[0];
        if (!file.type.match("image.*")) {
            $('#imgerror').html("必须是图像！");
            $('#submitbtn').hide();
        }
        else if (file.size > 524288 * 2) {
            $('#imgerror').html("图像不得超过1MB");
            $('#submitbtn').hide();
        }
        else {
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    $("#newavatar").attr("src", e.target.result);
                    $("#newavatar").attr("title", file.name);
                    $("a.hide").show();
                    $('#submitbtn').show();
                    $('#newavatar').Jcrop({ setSelect: [0, 0, 500, 500], aspectRatio: 1, onSelect: storeCoords,onRelease: resetCoords }, function () { crop = this });
                    data = e.target.result.split(',')[1];
                    type = file.type;
                };
            })(file);
            if (crop) {
                crop.destroy();
                $("#newavatar").css('width', '');
                $("#newavatar").css('height', '');
            }
            reader.readAsDataURL(file);
            $('#imgerror').html("");
        }
    }
    var coords = {x:0,y:0,w:500,h:500};
    function storeCoords(c) {
        coords = c;
        //jQuery('#X').val(c.x);
        //jQuery('#Y').val(c.y);
        //jQuery('#W').val(c.w);
        //jQuery('#H').val(c.h);
    }
    function releaseCrop() {
        crop.release();
    }
    function resetCoords() {
        coords.x = 0;
        coords.y = 0;
        coords.h = $('#newavatar').height();
        coords.w = $('#newavatar').width();
    }
    function submitfile(id) {
        $.post('@Url.Action("ChangeAvatar")', { avatardata: data, filetype: type, x: coords.x, y:coords.y, w:coords.w, h:coords.h}, updatediv)
        //startsubmit(id);
    }
    var debuginfo;
    function updatediv(response) {
        $('#changeavatardiv').html(response);
    }
</script>