﻿<h3>更改邮箱</h3>

@if (ViewBag.Success != null)
{
    <span class="message-success">已更改您的邮箱</span>
}

@using (Ajax.BeginForm("ChangeEmail", "Account", new AjaxOptions { OnFailure = "displayerror", OnComplete = "endsubmit", UpdateTargetId = "changeemaildiv" }))
{
    <fieldset>
        <legend>“更改邮箱”表单</legend>
        <input data-val="true" data-val-regex="无效的电子邮箱" data-val-regex-pattern="^[a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@@[a-z0-9]+(\.[a-z0-9]+)*\.([a-z]{2,4})$" data-val-remote="该邮箱已注册" data-val-remote-additionalfields="email" data-val-remote-type="Post" data-val-remote-url="/Account/CheckEmail" data-val-required="电子邮箱 字段是必需的。" id="email" name="email" type="text" value="@ViewBag.Email">
        <input type="submit" class="btn butnfix" value="更改" />
        <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
    </fieldset>
}