﻿<h3>更改个人说明</h3>

@using (Ajax.BeginForm("ChangeComment", null, new AjaxOptions { OnFailure = "displayerror", UpdateTargetId = "changecommentdiv" }, new { enctype= "multipart/form-data" }))
{
    <fieldset>
        <legend>“更改签名”表单</legend>
        <textarea id="comment" name="comment" style="width: 100%;height: 145px;padding: 0px;resize:vertical">@ViewBag.Comment</textarea>
        <input type="submit" onclick="encodecontent();" class="btn" value="更改" />
        @if (ViewBag.Success != null)
        {
            <span class="message-success">已更改您的个人说明</span>
        }
    </fieldset>
}
