﻿@{
    ViewBag.Title = "密码找回";
}

<h2>密码找回</h2>
<div class="alert alert-info" id="showrespond">
    <p>请输入您的电子邮箱地址，系统将向您的邮箱发送一封邮件。</p>
    <p>邮件内将包含您的用户名与重设密码的链接。如果无法收到邮件，请检查您的邮箱设置。</p>
</div>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod="Post", OnFailure="showerror", OnBegin="showloading", OnComplete="showresult" })){
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>“忘记密码”表单</legend>
        <input placeholder="Email地址" data-val="true" data-val-email="无效的电子邮箱" data-val-regex="无效的电子邮箱" data-val-regex-pattern="^[a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@@[a-z0-9]+(\.[a-z0-9]+)*\.([a-z]{2,4})$" data-val-required="电子邮箱 字段是必需的。" name="email" type="email" >
        @Html.ValidationMessage("email")<br />
        <img alt="Captcha" src="@Url.Action("CaptchaImage","Captcha")" style="" />等于多少？
        <input class="span2" autocomplete="off" type="text" name="Captcha" data-val="true" data-val-required="请输入验证码" />
        @Html.ValidationMessage("Captcha")<br />
        <input type="submit" class="btn" value="发送" />
    </fieldset>
}


<script>
    function showerror(error) {
        if (error && error.responseText) {
            document.write(error.responseText);
        }
    }
    function showloading() {
        $("#showrespond").html('<p><img src="/Images/loading.gif" alt="载入中" /><strong>请稍候。</strong>系统正在准备发送邮件。。。</p>');
    }
    function showresult(result) {
        if (result.responseJSON) {
            result = result.responseJSON;
        }
        if (result.ok) {
            $('#showrespond').html("<p><strong>完成。</strong>系统已向您的邮箱发送了一封邮件，请按邮件内的指示进行下一步操作。</p>")
        }
        else if (result.err) {
            $('#showrespond').html("<p><strong>出错了。</strong>" + result.err + "</p>");
        }
    }
</script>