﻿@model MyMVCWeb.Models.LoginModel

@{
    ViewBag.Title = "登录";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>“登录”表单</legend>
        <div class="control-group">
                @Html.LabelFor(m => m.UserName, new { @class="control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)<br />
                @Html.ValidationMessageFor(m => m.UserName)
            </div></div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class="control-label" })
                <div class="controls">
                @Html.PasswordFor(m => m.Password)<br />
                @Html.ValidationMessageFor(m => m.Password)
            </div></div>
            <div class="control-group" style="white-space:nowrap;">
                <label for="Captcha" class="control-label">
                等于多少?
                </label>
                <div class="controls">
                <img alt="Captcha" src="@Url.Action("CaptchaImage", "Captcha")" style="padding-top:5px;" />
                @Html.TextBoxFor(m => m.Captcha, new { style="width:100px;margin-left:16px;" })<br />
                @Html.ValidationMessageFor(model => model.Captcha)
                </div>
            </div>
        <div class="control-group">
                <div class="controls">
                <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                    记住我？
                </label><br />
                    <input type="submit" value="登录" class="btn btn-primary" /> @Html.ActionLink("忘记密码？", "Forget")
            </div></div>
    </fieldset>
    <div class="control-group">
                <div class="controls">
        @Html.ActionLink("注册", "Register", "Account", null, new {@class="btn" }) <span> (如果你没有帐户)</span>
    </div></div>
    
}


@*<section class="social" id="socialLoginForm">
    <h2>使用其他服务登录。</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@
