﻿@model MyMVCWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "账号设置";
}

<hgroup class="title">
    <h1>编辑账号资料.</h1>
</hgroup>

<p>你已使用 <strong>@User.Identity.Name</strong> 身份登录。</p>
<p>注册日期： <strong>@WebSecurity.GetCreateDate(User.Identity.Name)</strong></p>

@if (ViewBag.HasLocalPassword)
{
    <div class="content-wrapper">
        <div id="changecommentdiv" style="border:1px solid;float:right;width:45%;padding:10px;">
            @Html.Action("ChangeComment")
        </div>
        <div id="changepassworddiv" style="border:1px solid;padding:9px;width:45%">
        @Html.Partial("_ChangePasswordPartial")
        </div>
        <div id="changeemaildiv">
            @Html.Action("ChangeEmail")
        </div>
    </div>
    <div id="changeoptiondiv">
        @Html.Action("UserOptions")
        
    </div>
    <div id="changeavatardiv">
        @Html.Partial("_ChangeAvatarPartial")
    </div>
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>添加外部登录</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/scripts/Expansion.js")
<link href="/Jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Jcrop/js/jquery.Jcrop.min.js"></script>
<script>
    function displayerror(error) {
        if (error && error.responseText) {
            document.write(error.responseText);
        }
    }
    function encodecontent() {
        var val = $('#comment').val();
        val = val.ReplaceAll('<', '&lt;');
        val = val.ReplaceAll('>', '&gt;');
        $('#comment').val(val.toString());
    }
</script>
}
