﻿@model MyMVCWeb.Models.RegisterModel
@{
    ViewBag.Title = "注册";
}

@if(User.Identity.IsAuthenticated){
    <hr />
    <h1>已登陆用户无需注册！</h1>
}
else{
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>创建新帐户。</h2>
</hgroup>

using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>注册表单</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { maxlength=20 })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.avatar)
                <input type="file" id="avatar" name="avatar" /><br />
                @Html.ValidationMessageFor(m => m.avatar)
                <a class="hide" title="清除选区" onclick="crop.release();"><i class="icon-remove-sign"></i></a>
                <img src="//:0" id="newavatar" style="max-width:500px;max-height:500px;"/>
                <span id="imgerror" style="color:red;"></span>
            </li>
            <li>
                <img alt="Captcha" src="@Url.Action("CaptchaImage","Captcha")" style="" />等于多少?
                @Html.TextBoxFor(m => m.Captcha)
                @Html.ValidationMessageFor(model => model.Captcha)
            </li>
        </ol>
        @Html.HiddenFor(m => m.X)@Html.HiddenFor(m => m.Y)@Html.HiddenFor(m => m.H)@Html.HiddenFor(m => m.W)
        <input type="submit" style="margin-left: 24px" value="注册" class="btn btn-primary" />
        <script>
            $(function () {
                document.getElementById('avatar').addEventListener('change', updateimg, false);
            });
        </script>
    </fieldset>
}

}

@section Scripts {
    <link href="/Jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Jcrop/js/jquery.Jcrop.min.js"></script>
<script>
    var data; var type; var crop;
    function updateimg(evt) {
        var file = evt.target.files[0];
        if (checkfile(file)) {
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    $("#newavatar").attr("src", e.target.result);
                    $("#newavatar").attr("title", file.name);
                    $('#newavatar').Jcrop({ setSelect: [0, 0, 500, 500], aspectRatio: 1, onSelect: storeCoords, onRelease: resetCoords }, function () { crop = this });
                    $('#submitbtn').show();
                    $('a.hide').show();
                    data = e.target.result.split(',')[1];
                    type = file.type;
                };
            })(file);
            if (crop) {
                crop.destroy();
                $("#newavatar").css('width', '');
                $("#newavatar").css('height', '');
            }
            reader.readAsDataURL(file);
            $('#imgerror').html("");
        }
    }
    function storeCoords(c) {
        jQuery('#X').val(c.x);
        jQuery('#Y').val(c.y);
        jQuery('#W').val(c.w);
        jQuery('#H').val(c.h);
    }
    function resetCoords() {
        jQuery('#X').val(0);
        jQuery('#Y').val(0);
        jQuery('#W').val($('#newavatar').width());
        jQuery('#H').val($('#newavatar').height());
    }
    function checkfile(file) {
        //var file = document.getElementById('avatar').files[0];
        if (!file) {
            return false;
        }
        if (!file.type.match("image.*")) {
            $('#imgerror').html("必须是图像！");
            return false;
        }
        else if (file.size > 524288 * 2) {
            $('#imgerror').html("图像不得超过1MB");
            return false;
        }
        else
            return true;
    }
</script>
}
