﻿@model PasswordResetModel
@{
    ViewBag.Title = "重设密码";
}

<h2>重设密码</h2>
@if (ViewBag.ok != null)
{
    <div class="alert alert-success">
        <strong>密码设置成功！</strong>请前往登录页面进行登录，并恳请您牢记您的新密码。
    </div>
}
else{
    using (Html.BeginForm("ResetPW", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="alert alert-info">
            请设置您的新密码：
            @Html.ValidationSummary()
        </div>
        <div class="control-group">
             <div class="controls">
        @Html.TextBoxFor(m => m.Code, new { @class="uneditable-input", @readonly="readonly" })<br />
        <label for="Password">新密码：</label>@Html.PasswordFor(m => m.Password, new { placeholder="新密码" })<br />
        <label for="ConfirmPassword">确认新密码：</label>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder="确认新密码" })<br />
        <input type="submit" class="btn btn-primary" value="提交" />
        </div></div>
    }
}
