﻿@model UserOption

<h2>个人设置</h2>
<hr />
@using (Ajax.BeginForm("UserOptions", new AjaxOptions { HttpMethod = "Post", OnFailure = "displayerror", UpdateTargetId = "changeoptiondiv" }))
{
    if (ViewBag.Success != null)
    {
        <div class="alert alert-info">已更改您的个人设置</div>
    }
    <label class="checkbox inline" for="sendNoticeForNewReply">
        <input type="checkbox" value="true" name="sendNoticeForNewReply" id="sendNoticeForNewReply" @if(Model==null || Model.sendNoticeForNewReply){<text>checked</text>} )/>通知投稿的新回复
    </label>
    <label class="checkbox inline" for="sendNoticeForNewPostReply">
        <input type="checkbox" value="true" name="sendNoticeForNewPostReply" id="sendNoticeForNewPostReply" @if (Model == null || Model.sendNoticeForNewPostReply){<text>checked</text>}/>通知评论的新回复
    </label>
    <br />
    
    <input type="submit" value="保存" class="btn" />
}