﻿@model PagedList.IPagedList

@{string displayid = ViewBag.displayid ?? "multiview";
  //ViewBag.PostUrl
  }

<div class="pager">
     @if (Model.HasPreviousPage)
    {
        <a class="btn btn-mini" onclick="gotopage(1);">第1页</a>
        @Html.Raw(" ")
        <a class="btn btn-mini" onclick="gotopage(@Model.PageNumber-1);">上一页</a>
    }
    else{
        <a class="btn btn-mini disabled">第1页</a>@Html.Raw(" ")<a class="btn btn-mini disabled">上一页</a>
    }
    @{string lastpage = "第"+Model.PageCount+"页";}
    @if (Model.HasNextPage)
    {
        <a class="btn btn-mini" onclick="gotopage(@Model.PageNumber+1);">下一页</a>
        @Html.Raw(" ")
        <a class="btn btn-mini" onclick="gotopage(@Model.PageCount);">@lastpage</a>
    }
    else{
        @:<a class="btn btn-mini disabled">下一页</a> <a class="btn btn-mini disabled">@lastpage</a>
    }
    &nbsp;
    <span>第
        @Html.TextBox("jumppage", Model.PageNumber, new {style="width: 2em;height: 1em;padding: 3px;margin: 0px;" })
       页</span> 
    <script>
        $(function () {
            $('#jumppage').change(function () {
                var pagenum = parseInt(this.value);
                var pagecount = '@Model.PageCount';
                if (pagenum > 0 && pagenum <= pagecount) {
                    gotopage(pagenum);
                }
            });
        });
        function gotopage(pagenum) {
            var pagecount = '@Model.PageCount';
            if (pagenum > 0 && pagenum <= pagecount) {
                $.post('@ViewBag.PostUrl', { pagenum: pagenum }, replace);
            }
        }
        function replace(result) {
            $('#@displayid').html(result);
        }
        
    </script>
</div>

