﻿@if(!BlogUtil.checkAdmin(true)){
int prefix = BlogUtil.getCaptchaId();

<div>
<img alt="Captcha" src="@Url.Action("CaptchaImage","Captcha", new {prefix = prefix.ToString()})" style="" />等于多少？
<input class="span2" autocomplete="off" type="text" name="Captcha" data-val="true" data-val-required="请输入验证码" />
    <input type="hidden" name="Prefix" value="@prefix" />
    @Html.ValidationMessage("Captcha")
</div>
}