﻿@model IEnumerable<MyMVCWeb.Models.HeaderDisplay>

@functions{
    MvcHtmlString MenuItem(string text,int id, int newitems)
    {
        var item = new TagBuilder("li");
        var currentAction = (string)Html.ViewContext.ParentActionViewContext.RouteData.Values["action"];
        var currentId = (string)Html.ViewContext.RouteData.Values["id"];
        if ( string.Equals(currentAction,"List",StringComparison.CurrentCultureIgnoreCase) && currentId == id.ToString())
        {
            item.AddCssClass("active");
        }
        if(newitems > 0){
            item.InnerHtml = string.Format("<a href='{0}'>{1}<span class='badge'>+{2}</span></a>", Url.Action("List", "Blog", new { id = id }), text, newitems);
        }
        else{
            item.InnerHtml = Html.ActionLink(text, "List", "Blog", new { id = id }, null).ToHtmlString();
        }
        return MvcHtmlString.Create(item.ToString());
    }
}
<ul class="catenav nav nav-tabs">
    @foreach (var c in Model)
    {
        @MenuItem(c.category.CategoryName, c.category.CategoryID, c.newItems)
    }
</ul>


