﻿<!DOCTYPE html>
<html style="min-width:720px" lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MyWebSite</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bootstrap/css/bootstrap.min.css",
                              "~/Content/css")
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
            if (!window.jQuery) { //fallback
                document.write('<script src="/Scripts/jquery-1.10.2.min.js"><\/script>');
            }
        </script>
        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
        <script>$.ajaxSetup({
                    "error": function (exception) {
                    document.write(exception.responseText);
                    }
                    ,cache: false
                });
        </script>
    </head>
    <body>
        @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
        @*<script src="~/Scripts/backbone.js"></script>*@
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <div class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                        <p style="margin:0;">MyWebSite</p></a>
                    </div>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>  
                </div>
                <div class="clear-fix"></div>
                @Html.Partial("_Menu")
            </div>
             
        </header>
        <div id="body">
            <section class="categories">
                @Html.Action("Header","Home")
            </section>
            <div id="main">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            </div>
            <div class="sidebar">@Html.Partial("_SidebarPartial")</div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - MyWebSite
                    </p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/HS_messager/css/messenger.css",
                     "~/HS_messager/css/messenger-theme-future.css")
        @Scripts.Render("~/HS_messager/js/messenger.min.js","~/HS_messager/js/messenger-theme-future.js")
        @RenderSection("end_scripts", required: false)
    </body>
</html>
