﻿@if (Request.IsAuthenticated) {

int start; int next; int lvlp; string lvl; string title; double width;
ExpUtil.getUserExp(User.Identity.Name, out start, out next);
lvlp = ExpUtil.getUserLvl(User.Identity.Name);
if(lvlp == 99){
    lvl = "??";
}
else{
    lvl = lvlp.ToString();
}
title = ExpUtil.getLevelTitle(lvlp);
if(next != 0){
        width = (double)start/next * 100;
}
else{
    width=0;
}   


    <div style="padding-right: 10px; padding-top: 120px;height: 160px;">
    <div class="loguseravatar" onmouseover="avam_over('lvnum','@title')" onmouseout="avam_out('lvnum','@lvl')" >
        <div  style="display:table-cell;height:100px;width:100px;text-align: center;vertical-align: bottom;">
            <a title="个人信息" style="color:inherit;" href="@Url.Action("UserInfo","Home",new { name = ""})">
                <img style="max-height:100px;max-width:100px" src="@Url.Action("Show","Avatar",new { name = ""})"/>
            </a>
            <span id="lvnum" class="badge lvl" title="当前等级">lv.@lvl</span>
        </div>
    </div>
    <br />
        <div>
        <div class="logusername">
            <div class="progress progress-success expbar">                 
                <div class="bar" style="width: @width%;"></div>
                <span title="绅士度" class="exp">@start/@next</span>
            </div>
            你好,@User.Identity.Name!
        </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"})) {
                @Html.AntiForgeryToken()         
            <div>
                <div class="btn-group logout">
                <a href="@Url.Action("Manage", "Account")" title="编辑资料" class="logout btn btn-small btn-info"><i class="icon-cog icon-white"></i></a>
                <a href="@Url.Action("Index","Message")" title="消息中心" class="logout btn btn-small btn-info"><i class="icon-envelope icon-white"></i><span style="margin-left: 2px" class="label label-important">@BlogUtil.GetUnreadMsg(User.Identity.Name)</span></a>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="logout btn btn-small btn-info" title="注销"><i class="icon-off icon-white"></i></a>
                </div>
            </div>
            }
        </div>
    </div>
} else {
    <ul style="margin:0;margin-top:25px;">
        <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",@class="btn btn-small btn-primary"})</li>
        <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class="btn btn-small btn-primary"})</li>
    </ul>
}

<script>
    function avam_over(lvobj, title) {
        n = document.getElementById(lvobj);
        n.textContent = n.textContent + " " + title;
    }
    function avam_out(lvobj, title) {
        n = document.getElementById(lvobj);
        n.textContent = "lv." + title;
    }
</script>
