﻿@functions{
    bool isCurrentPage(string action, string controller)
    {
        var currentAction = (string)Html.ViewContext.RouteData.Values["action"];
        var currentControl = (string)Html.ViewContext.RouteData.Values["controller"];
        return (string.Equals(currentAction, action, StringComparison.CurrentCultureIgnoreCase) &&
            string.Equals(currentControl, controller, StringComparison.CurrentCultureIgnoreCase)
        );
    }
    MvcHtmlString MenuItem(string text, string action, string controller)
    {
        var item = new TagBuilder("li");
        if (isCurrentPage(action, controller))
        {
            item.AddCssClass("active");
        }
        if (text=="审核")
        {
            int count = BlogUtil.getUnapproveCount();
            item.InnerHtml = string.Format("<a class='audit' href='{0}'>{1} <span class='label label-important'>{2}</span></a>", Url.Action(action, controller), text, count > 0? count.ToString() :"" );
        }
        else
        {
            item.InnerHtml = Html.ActionLink(text, action, controller, new { id = "" }, null).ToHtmlString();
        }
        return MvcHtmlString.Create(item.ToString());
    }
}
<ul class="pnav nav nav-pills" >
    @MenuItem("主页", "Index", "Home")
    @MenuItem("资源列表", "List", "Blog")
    @MenuItem("意见建议", "Suggestions", "Home")
    @if (!User.Identity.IsAuthenticated)
    {
        @MenuItem("投稿", "Create", "Blog")
    }
    else if (BlogUtil.checkAdmin(true))
    {
        <li class="dropdown @if (isCurrentPage("Create", "Blog"))
                            {<text>active</text>}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                投稿
                <b class="caret" style="border-top-color:rgb(255, 226, 226)"></b>
            </a>
            <ul class="dropdown-menu" role="menu" style="margin: 0;min-width: 65px; text-align:center" >
                <li>
                    @Html.ActionLink("投　稿", "Create", "Blog")
                </li>
                <li>
                    @Html.ActionLink("投专题", "Create", "Topic")
                </li>
                    
            </ul>
        </li>
    }
    else
    {
        <li class="dropdown @if (isCurrentPage("Create", "Blog"))
                            {<text>active</text>}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                投稿
                <b class="caret" style="border-top-color:rgb(255, 226, 226)"></b>
            </a>
            <ul class="dropdown-menu" role="menu" style="margin: 0;min-width: 65px; text-align:center" >
                <li>
                    @Html.ActionLink("投　稿", "Create", "Blog")
                </li>
                <li>
                    @Html.ActionLink("待审核", "UnApprove", "Home")
                </li>
            </ul>
        </li>
    }

    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {
        @MenuItem("审核", "Audit", "Admin")
    }
    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {
        @MenuItem("管理", "Manage", "Admin")
    }
</ul>