﻿@model PagedList.IPagedList

@{string actionname = ViewContext.Controller.ValueProvider.GetValue("action").RawValue as string;}

<div class="pager">
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("第1页",actionname,new { page = 1 },htmlAttributes: new {@class="btn btn-mini"})
        @Html.Raw(" ")
        @Html.ActionLink("上一页",actionname,new { page = Model.PageNumber-1},htmlAttributes: new {@class="btn btn-mini"})
    }
    else{
        <a class="btn btn-mini disabled">第1页</a> <a class="btn btn-mini disabled">上一页</a>
    }
    @{string lastpage = "第"+Model.PageCount+"页";}
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("下一页",actionname,new {page = Model.PageNumber+1 },htmlAttributes: new {@class="btn btn-mini"})
        @Html.Raw(" ")
        @Html.ActionLink(lastpage,actionname,new {page = Model.PageCount},htmlAttributes: new {@class="btn btn-mini"})
    }
    else{
        <a class="btn btn-mini disabled">下一页</a> <a class="btn btn-mini disabled">@lastpage</a>
    }
    &nbsp;
@*    @using (Html.BeginForm("List", "Blog",  FormMethod.Post, new { id = "jumppageform" }))
    {*@
    <span>第
        @Html.TextBox("jumppage", Model.PageNumber, new {style="width: 2em;height: 1em;padding: 3px;margin: 0px;" })
       页</span> 
    <script>
        $(function () {
            $('#jumppage').change(function () {
                var pagenum = parseInt(this.value);
                var pagecount = '@Model.PageCount';
                if (pagenum > 0 && pagenum <= pagecount) {
                    var url = document.URL;
                    //url = url.split('?')[0];
                    window.location.href = updateURLParameter(url, 'page', pagenum);
                }
            });
            function updateURLParameter(url, param, paramVal) {
                var newAdditionalURL = "";
                var tempArray = url.split("?");
                var baseURL = tempArray[0];
                var additionalURL = tempArray[1];
                var temp = "";
                if (additionalURL) {
                    tempArray = additionalURL.split("&");
                    for (i = 0; i < tempArray.length; i++) {
                        if (tempArray[i].split('=')[0] != param) {
                            newAdditionalURL += temp + tempArray[i];
                            temp = "&";
                        }
                    }
                }

                var rows_txt = temp + "" + param + "=" + paramVal;
                return baseURL + "?" + newAdditionalURL + rows_txt;
            }
        });
    </script>
@*    }*@
</div>

