﻿@using (Html.BeginForm("Start", "Search", FormMethod.Post, new { @class = "form-search", id = "tagsearchform" }))
{
    <div class="input-append">
    <input type="search" id="searchbox" name="name" autocomplete="off" maxlength="80" placeholder="搜索标签" class="search-query span3 tagsearch"/>
    <input type="submit" class="btn searchbtn" value="搜索" />
    </div>
    <div style="white-space:nowrap;">
    <label class="checkbox inline" style="font-size:small">
    <input type="radio" name="searchmethod" value="tag" checked/>
        标签
        </label>
    <label class="checkbox inline" style="font-size:small">
    <input type="radio" name="searchmethod" value="title"/>
        标题
        </label>
    <label class="checkbox inline" style="font-size:small">
    <input type="radio" name="searchmethod" value="google" />
        搜谷歌
        </label>
    </div>
}


@if (User.Identity.IsAuthenticated)
{
    int hasSigned = ExpUtil.hasSigned();
    <div>
        @if (hasSigned > 0)
        {
    <a class="btn btn-danger disabled" style="margin-left: 35px;font-weight: bold; text-shadow: 2px 0px 2px #000"><i class="icon-calendar"></i>&nbsp;&nbsp;连续签到@(hasSigned)天</a>
        }
        else
        {
            using (Ajax.BeginForm("SignIn", "Home", null, new AjaxOptions { OnComplete = "updateSpan" }, new { id = "signForm", style = "display:none;" }))
            {
                @Html.AntiForgeryToken()
            }
            <a class="btn btn-danger" id="checkin" onclick="签到()" style="margin-left: 35px;font-weight: bold; text-shadow: 2px 0px 2px #000"><i class="icon-calendar"></i>&nbsp;&nbsp;<span id="checkw">点此签到</span></a>
        }
    <span style="display:none" id="signmsg"></span>
</div>
}
<div>
@Html.Action("Ranking", "Home")
</div>

<br />
<br />

<script>
    $._messengerDefaults = {
	extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top messenger-on-right'
    }
    var searchboxinit = false;
    $(function () {
        $('#searchbox').focus(function () {
            if (!searchboxinit) {
                $.post('@Url.Action("FetchTags", "Search")', null, updateSearchbox);
                searchboxinit = true;
            }
        });

        $('#tagsearchform').submit(function (event){
            if ($('#searchbox').val().trim().length < 1)
                event.preventDefault();
        })

        $('input[name="searchmethod"]').change(function () {
            if (this.value == 'google') {
                $('#searchbox').prop('placeholder', 'Google');
            }
            else if (this.value == 'title'){
                $('#searchbox').prop('placeholder', '搜索标题');
            }
            else {
                $('#searchbox').prop('placeholder', '搜索标签');
            }
        });
    });
    function updateSearchbox (datasource){
        $('#searchbox').typeahead({ source: datasource });
    }
    function updateSpan(response) {
        var result = JSON.parse(response.responseText);
        var e = document.getElementById("checkin");
        w = document.getElementById("checkw");
        if (result.success) {
            w.textContent = "连续签到" + result.days + "天";
            $.globalMessenger().post("签到成功，绅士度+" + result.exp);
            $(e).attr('class','btn btn-danger disabled');
        }
    }
    var hassign;
    function 签到() {
        if (hassign)
            return false;
        hassign = true;
        $('#signForm').trigger('submit');
        
    }

</script>