﻿@model Topic
<li id="@Model.TopicID">
    <div class="badge info">
        @TopicUtil.getBlogCount(Model.TopicID) 资源
    </div>
    <div class="icon">
        <div class="imgcenter">
            @{string imgpath = Model.isLocalImg ? ("/Images/Thumbs/" + MyMVCWeb.Models.BlogUtil.firstImgPath(Model.ImagePath)) : Model.ImagePath;}
            <img src="@imgpath"/>
        </div>
    </div>
    <div class="data">
        <h4>
            @Model.TopicTitle
        </h4>
        <p style="word-break:keep-all"> @BlogUtil.getFirstLine(Model.Content, 100, true)</p>
        <strong>投稿：@Model.Author</strong>
        <br />
        &nbsp;<span class="lfoot"><i class="icon-eye-open ico"></i> @Model.TopicVisit</span><span class="lfoot"><i class="icon-comment ico"></i> @Model.Posts.Count</span>
    </div>
</li>