﻿
<textarea id="addreplycontent" name="addreplycontent" style="width:100%;visibility:hidden" rows="4"></textarea>
<br />
@Html.Partial("_Captcha")
<button ID="SubmitReply" OnClick="submitreply(this);" data-loading-text="提交中..." class="btn btn-primary">提交</button>
<img id="loading" src="~/Images/loading2.gif" style="display:none;" />
    @Html.ValidationMessage("添加回复")
