﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<hgroup class="title">
    <h1 class="error">错误。</h1>
    <h2 class="error">在处理你的请求时出错。</h2>
</hgroup>
<p>以下是错误信息，请向管理员汇报</p>
<p>@Model.ControllerName / @Model.ActionName</p>
<p>@Model.Exception.Message</p>
<pre>@Model.Exception.StackTrace</pre>