﻿@model List<MyMVCWeb.Models.Advertisment>

@if(Model != null && Model.Count > 0){
    <h3>绅士周边：</h3>
<div>
<script src="~/Scripts/jquery.cycle2.min.js"></script>
    <style>
        .addiv img
        {
            max-height:80px !important;
            max-width:80px !important;
        }
        .thumbnails .span2
        {
            width:125px;
        }
    </style>
<div class="cycle-slideshow addiv hide" 
    data-cycle-fx="scrollHorz" 
    data-cycle-timeout="10000"
    data-cycle-slides="> div"
    >
    <div>
        <ul class="thumbnails">
            @{ int i = 0;
            foreach (var item in Model)
            {
                <li class="span2">
                    <a rel="nofollow" onclick="clickad(this)" target="_blank" data-id="@item.AdID" href="@item.AdUrl" class="thumbnail">
                        <img src="@item.ImgUrl" alt="@item.AdTitle"/>
                        <div class="caption">
                            @item.AdTitle
                        </div>
                    </a>
                </li>
                if (++i % 5 == 0)
                {
                    @Html.Raw("</ul></div><div><ul class='thumbnails'>")
                }
            }
            }
        </ul>
    </div>
</div>
    <script>
        function clickad(ele) {
            var id = $(ele).attr('data-id');
            alert(id);
            if (id) {
                $.post('@Url.Action("Click","Advertisment")', { adid: id }, $.noop);
            }
            return true;
        }
        $(function () {
            $('.addiv').removeClass('hide');
        });
    </script>
</div>
}